<% content_for :docs_description do %>
<meta name="docs:description" content="<%= I18n.t('help.faq.description') %>">
<% end %>

<h1><%= I18n.t("help.faq.title") %></h1>

<p class="more-info"><%= I18n.t("general.updated_at", :date => "16/01/2015") %></p>

<h4><%= I18n.t("general.index")%></h4>

<ol class="table-of-contents">
  <li><a href="#device"><%= I18n.t("help.faq.table_of_contents.device") %></a></li>
  <li><a href="#posxml"><%= I18n.t("help.faq.table_of_contents.posxml") %></a></li>
  <li><a href="#comm"  ><%= I18n.t("help.faq.table_of_contents.comm")   %></a></li>
  <li><a href="#config" ><%= I18n.t("help.faq.table_of_contents.config")%></a></li>
  <li><a href="#business"><%= I18n.t("help.faq.table_of_contents.business")%></a></li>
</ol>

<h2 id="device"><%= I18n.t("help.faq.table_of_contents.device") %></h2>

<div class="accordion" id="accordion-device">

  <div class="accordion-group">
    <div class="accordion-heading">
      <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-device" href="#collapse-One"><%= I18n.t("help.faq.device_questions.question_1") %></p>
    </div>
    <div id="collapse-One" class="accordion-body collapse">
      <div class="accordion-inner">
        <p><%= I18n.t("help.faq.device_questions.answer_1") %></p>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-device" href="#collapse-Two"><%= I18n.t("help.faq.device_questions.question_2") %></p>
    </div>
    <div id="collapse-Two" class="accordion-body collapse">
      <div class="accordion-inner">
        <p><%= I18n.t("help.faq.device_questions.answer_2") %></p>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-device" href="#collapse-Three"><%= I18n.t("help.faq.device_questions.question_3") %></p>
    </div>
    <div id="collapse-Three" class="accordion-body collapse">
      <div class="accordion-inner">
        <p><%= I18n.t("help.faq.device_questions.answer_3") %></p>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-device" href="#collapse-Four"><%= I18n.t("help.faq.device_questions.question_4") %></p>
    </div>
    <div id="collapse-Four" class="accordion-body collapse">
      <div class="accordion-inner">
        <p><%= I18n.t("help.faq.device_questions.answer_4") %></p>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-device" href="#collapse-Five"><%= I18n.t("help.faq.device_questions.question_5") %></p>
    </div>
    <div id="collapse-Five" class="accordion-body collapse">
      <div class="accordion-inner">
        <p><%= I18n.t("help.faq.device_questions.answer_5") %></p>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-device" href="#collapse-Six"><%= I18n.t("help.faq.device_questions.question_6") %></p>
    </div>
    <div id="collapse-Six" class="accordion-body collapse">
      <div class="accordion-inner">
        <p><%= I18n.t("help.faq.device_questions.answer_6") %></p>
      </div>
    </div>
  </div>

</div>



<h2 id="posxml"><%= I18n.t("help.faq.table_of_contents.posxml") %></h2>

<div class="accordion" id="accordion-posxml">

  <div class="accordion-group">
    <div class="accordion-heading">
      <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-posxml" href="#collapse-Seven"><%= I18n.t("help.faq.posxml_questions.question_1") %></p>
    </div>
    <div id="collapse-Seven" class="accordion-body collapse">
      <div class="accordion-inner">
        <p><%= I18n.t("help.faq.posxml_questions.answer_1") %></p>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-posxml" href="#collapse-Eight"><%= I18n.t("help.faq.posxml_questions.question_2") %></p>
    </div>
    <div id="collapse-Eight" class="accordion-body collapse">
      <div class="accordion-inner">
        <p><%= I18n.t("help.faq.posxml_questions.answer_2") %></p>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-posxml" href="#collapse-Nine"><%= I18n.t("help.faq.posxml_questions.question_3") %></p>
    </div>
    <div id="collapse-Nine" class="accordion-body collapse">
      <div class="accordion-inner">
        <p><%= I18n.t("help.faq.posxml_questions.answer_3") %></p>
        <p>< &amp;lt;</p>
        <p>> &amp;gt;</p>
        <p>& &amp;amp;</p>
        <p>&amp;apos;</p>
        <p>&amp;quot;</p>
        <p><%= I18n.t("help.faq.posxml_questions.answer_3-1")%></p>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-posxml" href="#collapse-Ten"><%= I18n.t("help.faq.posxml_questions.question_4") %></p>
    </div>
    <div id="collapse-Ten" class="accordion-body collapse">
      <div class="accordion-inner">
        <p><%= I18n.t("help.faq.posxml_questions.answer_4") %></p>
      </div>
    </div>
  </div>

</div>

<h2 id="comm"><%= I18n.t("help.faq.table_of_contents.comm") %></h2>

<div class="accordion" id="accordion-comm">
  <div class="accordion-group">
    <div class="accordion-heading">
      <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-comm" href="#collapse-Eleven"><%= I18n.t("help.faq.comm_questions.question_1") %></p>
    </div>
    <div id="collapse-Eleven" class="accordion-body collapse">
      <div class="accordion-inner">
        <p><%= I18n.t("help.faq.comm_questions.answer_1") %></p>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-comm" href="#collapse-Twelve"><%= I18n.t("help.faq.comm_questions.question_2") %></p>
    </div>
    <div id="collapse-Twelve" class="accordion-body collapse">
      <div class="accordion-inner">
        <p><%= I18n.t("help.faq.comm_questions.answer_2") %></p>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-comm" href="#collapse-Thirteen"><%= I18n.t("help.faq.comm_questions.question_3") %></p>
    </div>
    <div id="collapse-Thirteen" class="accordion-body collapse">
      <div class="accordion-inner">
        <p><%= I18n.t("help.faq.comm_questions.answer_3") %></p>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-comm" href="#collapse-Fourteen"><%= I18n.t("help.faq.comm_questions.question_4") %></p>
    </div>
    <div id="collapse-Fourteen" class="accordion-body collapse">
      <div class="accordion-inner">
        <p><%= I18n.t("help.faq.comm_questions.answer_4") %></p>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-comm" href="#collapse-Fifteen"><%= I18n.t("help.faq.comm_questions.question_5") %></p>
    </div>
    <div id="collapse-Fifteen" class="accordion-body collapse">
      <div class="accordion-inner">
        <p><%= I18n.t("help.faq.comm_questions.answer_5") %></p>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-comm" href="#collapse-Sixteen"><%= I18n.t("help.faq.comm_questions.question_6") %></p>
    </div>
    <div id="collapse-Sixteen" class="accordion-body collapse">
      <div class="accordion-inner">
        <p><%= I18n.t("help.faq.comm_questions.answer_6.paragraph_1") %></p>
        <p><%= I18n.t("help.faq.comm_questions.answer_6.ethernet.title") %></p>

        <ul class="faq-ethernet">
          <li><strong><%= I18n.t("help.faq.comm_questions.answer_6.ethernet.step_1") %></li>
          <li><strong><%= I18n.t("help.faq.comm_questions.answer_6.ethernet.step_2") %></li>
          <li><strong><%= I18n.t("help.faq.comm_questions.answer_6.ethernet.step_3") %></li>
          <li><strong><%= I18n.t("help.faq.comm_questions.answer_6.ethernet.step_4") %></li>
          <li><strong><%= I18n.t("help.faq.comm_questions.answer_6.ethernet.step_5") %></li>
        </ul>

        <p><%= I18n.t("help.faq.comm_questions.answer_6.gprs.title") %></p>

        <ul class="faq-gprs">
          <li><strong><%= I18n.t("help.faq.comm_questions.answer_6.gprs.step_1") %></li>
          <li><strong><%= I18n.t("help.faq.comm_questions.answer_6.gprs.step_2") %></li>
          <li><strong><%= I18n.t("help.faq.comm_questions.answer_6.gprs.step_3") %></li>
          <li><strong><%= I18n.t("help.faq.comm_questions.answer_6.gprs.step_4") %></li>
          <li><strong><%= I18n.t("help.faq.comm_questions.answer_6.gprs.step_5") %></li>
        </ul>
        <p><%= I18n.t("help.faq.comm_questions.answer_6.dialed.title") %></p>

        <ul class="faq-dialed">
          <li><strong><%= I18n.t("help.faq.comm_questions.answer_6.dialed.step_1") %></li>
          <li><strong><%= I18n.t("help.faq.comm_questions.answer_6.dialed.step_2") %></li>
          <li><strong><%= I18n.t("help.faq.comm_questions.answer_6.dialed.step_3") %></li>
        </ul>

      </div>
    </div>
  </div>

</div>

<h2 id="config"><%= I18n.t("help.faq.table_of_contents.config") %></h2>

<div class="accordion" id="accordion-config">

  <div class="accordion-group">
    <div class="accordion-heading">
      <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-config" href="#collapse-Seventeen"><%= I18n.t("help.faq.config_questions.question_1") %></p>
    </div>
    <div id="collapse-Seventeen" class="accordion-body collapse">
      <div class="accordion-inner">
        <p><%= I18n.t("help.faq.config_questions.answer_1") %></p>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-config" href="#collapse-Eighteen"><%= I18n.t("help.faq.config_questions.question_2") %></p>
    </div>
    <div id="collapse-Eighteen" class="accordion-body collapse">
      <div class="accordion-inner">
        <p><%= I18n.t("help.faq.config_questions.answer_2") %></p>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-config" href="#collapse-Nineteen"><%= I18n.t("help.faq.config_questions.question_3") %></p>
    </div>
    <div id="collapse-Nineteen" class="accordion-body collapse">
      <div class="accordion-inner">
        <p><%= I18n.t("help.faq.config_questions.answer_3") %></p>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-config" href="#collapse-Twenty"><%= I18n.t("help.faq.config_questions.question_4") %></p>
    </div>
    <div id="collapse-Twenty" class="accordion-body collapse">
      <div class="accordion-inner">
        <p><%= I18n.t("help.faq.config_questions.answer_4") %></p>
      </div>
    </div>
  </div>

</div>
<h2 id="cloudwalk"><%= I18n.t("help.faq.table_of_contents.cloudwalk") %></h2>
