<% content_for :docs_description do %>
  <meta name="docs:description" content="<%= I18n.t('help.faq.description') %>">
<% end %>

<h1><%= I18n.t("menu.help.faq.sub_group_name") %></h1>

<p class="more-info"><%= I18n.t("general.updated_at", :date => "23/01/2015") %></p>

<h4><%= I18n.t("general.index")%></h4>

<ol class="table-of-contents">
  <li><a href="#overview"><%= I18n.t("help.faq.table_of_contents.overview") %></a></li>
  <li><a href="#device"><%= I18n.t("help.faq.table_of_contents.device") %></a></li>
  <li><a href="#development"><%= I18n.t("help.faq.table_of_contents.development") %></a></li>
  <li><a href="#comm"  ><%= I18n.t("help.faq.table_of_contents.comm")   %></a></li>
  <li><a href="#manager"><%= I18n.t("help.faq.table_of_contents.manager")%></a></li>
  <li><a href="#cloudwalk"><%= I18n.t("help.faq.table_of_contents.cloudwalk")%></a></li>
</ol>

<h2 id="overview"><%= I18n.t("help.faq.table_of_contents.overview") %></h2>

<p><%= I18n.t("help.faq.overview.paragraph_1") %></p>
<p><%= I18n.t("help.faq.overview.paragraph_2") %></p>

<h2 id="device"><%= I18n.t("help.faq.table_of_contents.device") %></h2>

<div class="accordion" id="accordion-device">
  <ul>

    <div class="accordion-group">
      <div class="accordion-heading">
        <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-device" href="#dev-collapse-1"><%= I18n.t("help.faq.device_questions.question_1") %></p>
      </div>
      <div id="dev-collapse-1" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><%= I18n.t("help.faq.device_questions.answer_1") %></p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-device" href="#dev-collapse-2"><%= I18n.t("help.faq.device_questions.question_2") %></p>
      </div>
      <div id="dev-collapse-2" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><%= I18n.t("help.faq.device_questions.answer_2") %></p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-device" href="#dev-collapse-3"><%= I18n.t("help.faq.device_questions.question_3") %></p>
      </div>
      <div id="dev-collapse-3" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><%= I18n.t("help.faq.device_questions.answer_3") %></p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-device" href="#dev-collapse-4"><%= I18n.t("help.faq.device_questions.question_4") %></p>
      </div>
      <div id="dev-collapse-4" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><%= I18n.t("help.faq.device_questions.answer_4") %></p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-device" href="#dev-collapse-5"><%= I18n.t("help.faq.device_questions.question_5") %></p>
      </div>
      <div id="dev-collapse-5" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><%= I18n.t("help.faq.device_questions.answer_5") %></p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-device" href="#dev-collapse-6"><%= I18n.t("help.faq.device_questions.question_6") %></p>
      </div>
      <div id="dev-collapse-6" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><%= I18n.t("help.faq.device_questions.answer_6") %></p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-device" href="#dev-collapse-7"><%= I18n.t("help.faq.device_questions.question_7") %></p>
      </div>
      <div id="dev-collapse-7" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><%= I18n.t("help.faq.device_questions.answer_7") %></p>
          <table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>PAX</th>
                <th>VeriFone Verix</th>
                <th>VeriFone Evo</th>
                <th>Ingenico Telium 1</th>
                <th>Ingenico Telium 2</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>D200</td>
                <td>Vx510</td>
                <td>Vx520</td>
                <td>EFT930G</td>
                <td>ICT220</td>
              </tr>
              <tr>
                <td>D210</td>
                <td>Vx610</td>
                <td>Vx675</td>
                <td>EFT930S</td>
                <td>ICT250</td>
              </tr>
              <tr>
                <td></td>
                <td>Vx670</td>
                <td>Vx680</td>
                <td></td>
                <td>IWL220</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Vx820</td>
                <td></td>
                <td>IWL250</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Vx805</td>
                <td></td>
                <td>IWL280</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-device" href="#dev-collapse-8"><%= I18n.t("help.faq.device_questions.question_8") %></p>
      </div>
      <div id="dev-collapse-8" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><%= I18n.t("help.faq.device_questions.answer_8") %></p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-device" href="#dev-collapse-9"><%= I18n.t("help.faq.device_questions.question_9") %></p>
      </div>
      <div id="dev-collapse-9" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><%= I18n.t("help.faq.device_questions.answer_9") %></p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
          <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-device" href="#dev-collapse-10"><%= I18n.t("help.faq.device_questions.question_10") %></p>
      </div>
      <div id="dev-collapse-10" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><%= I18n.t("help.faq.device_questions.answer_10") %></p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-device" href="#dev-collapse-11"><%= I18n.t("help.faq.device_questions.question_11") %></p>
      </div>
      <div id="dev-collapse-11" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><%= I18n.t("help.faq.device_questions.answer_11") %></p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-device" href="#dev-collapse-12"><%= I18n.t("help.faq.device_questions.question_12") %></p>
      </div>
      <div id="dev-collapse-12" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><%= I18n.t("help.faq.device_questions.answer_12") %></p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-device" href="#dev-collapse-13"><%= I18n.t("help.faq.device_questions.question_13") %></p>
      </div>
      <div id="dev-collapse-13" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><%= I18n.t("help.faq.device_questions.answer_13") %></p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-device" href="#dev-collapse-14"><%= I18n.t("help.faq.device_questions.question_14") %></p>
      </div>
      <div id="dev-collapse-14" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><%= I18n.t("help.faq.device_questions.answer_14") %></p>
        </div>
      </div>
    </div>

  </ul>
</div>

<h2 id="development"><%= I18n.t("help.faq.table_of_contents.development") %></h2>

<div class="accordion" id="accordion-development">
  <ul>
    <div class="accordion-group">
      <div class="accordion-heading">
        <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-development" href="#collapse-1"><%= I18n.t("help.faq.development_questions.question_1") %></p>
      </div>
      <div id="collapse-1" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><%= I18n.t("help.faq.development_questions.answer_1") %></p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-development" href="#collapse-2"><%= I18n.t("help.faq.development_questions.question_2") %></p>
      </div>
      <div id="collapse-2" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><%= I18n.t("help.faq.development_questions.answer_2") %></p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-development" href="#collapse-3"><%= I18n.t("help.faq.development_questions.question_3") %></p>
      </div>
      <div id="collapse-3" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><%= I18n.t("help.faq.development_questions.answer_3") %></p>
          <p>< &amp;lt;</p>
          <p>> &amp;gt;</p>
          <p>& &amp;amp;</p>
          <p>&amp;apos;</p>
          <p>&amp;quot;</p>
          <p><%= I18n.t("help.faq.development_questions.answer_3-1")%></p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-development" href="#collapse-4"><%= I18n.t("help.faq.development_questions.question_4") %></p>
      </div>
      <div id="collapse-4" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><%= I18n.t("help.faq.development_questions.answer_4") %></p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-development" href="#collapse-5"><%= I18n.t("help.faq.development_questions.question_5") %></p>
      </div>
      <div id="collapse-5" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><%= I18n.t("help.faq.development_questions.answer_5") %></p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-development" href="#collapse-6"><%= I18n.t("help.faq.development_questions.question_6") %></p>
      </div>
      <div id="collapse-6" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><%= I18n.t("help.faq.development_questions.answer_6") %></p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-development" href="#collapse-7"><%= I18n.t("help.faq.development_questions.question_7") %></p>
      </div>
      <div id="collapse-7" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><%= I18n.t("help.faq.development_questions.answer_7") %></p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-development" href="#collapse-8"><%= I18n.t("help.faq.development_questions.question_8") %></p>
      </div>
      <div id="collapse-8" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><%= I18n.t("help.faq.development_questions.answer_8") %></p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-development" href="#collapse-9"><%= I18n.t("help.faq.development_questions.question_9") %></p>
      </div>
      <div id="collapse-9" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><%= I18n.t("help.faq.development_questions.answer_9") %></p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-development" href="#collapse-10"><%= I18n.t("help.faq.development_questions.question_10") %></p>
      </div>
      <div id="collapse-10" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><%= I18n.t("help.faq.development_questions.answer_10") %></p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-development" href="#collapse-11"><%= I18n.t("help.faq.development_questions.question_11") %></p>
      </div>
      <div id="collapse-11" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><%= I18n.t("help.faq.development_questions.answer_11") %></p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-development" href="#collapse-12"><%= I18n.t("help.faq.development_questions.question_12") %></p>
      </div>
      <div id="collapse-12" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><%= I18n.t("help.faq.development_questions.answer_12") %></p>
        </div>
      </div>
    </div>

  </ul>
</div>

<h2 id="comm"><%= I18n.t("help.faq.table_of_contents.comm") %></h2>

<div class="accordion" id="accordion-comm">
  <ul>
    <div class="accordion-group">
      <div class="accordion-heading">
        <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-comm" href="#comm-collapse-1"><%= I18n.t("help.faq.comm_questions.question_1") %></p>
      </div>
      <div id="comm-collapse-1" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><%= I18n.t("help.faq.comm_questions.answer_1") %></p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-comm" href="#comm-collapse-2"><%= I18n.t("help.faq.comm_questions.question_2") %></p>
      </div>
      <div id="comm-collapse-2" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><%= I18n.t("help.faq.comm_questions.answer_2") %></p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-comm" href="#comm-collapse-3"><%= I18n.t("help.faq.comm_questions.question_3") %></p>
      </div>
      <div id="comm-collapse-3" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><%= I18n.t("help.faq.comm_questions.answer_3") %></p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-comm" href="#comm-collapse-4"><%= I18n.t("help.faq.comm_questions.question_4") %></p>
      </div>
      <div id="comm-collapse-4" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><%= I18n.t("help.faq.comm_questions.answer_4") %></p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-comm" href="#comm-collapse-5"><%= I18n.t("help.faq.comm_questions.question_5") %></p>
      </div>
      <div id="comm-collapse-5" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><%= I18n.t("help.faq.comm_questions.answer_5") %></p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-comm" href="#comm-collapse-6"><%= I18n.t("help.faq.comm_questions.question_6") %></p>
      </div>
      <div id="comm-collapse-6" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><%= I18n.t("help.faq.comm_questions.answer_6.paragraph_1") %></p>
          <p><%= I18n.t("help.faq.comm_questions.answer_6.ethernet.title") %></p>

          <ul>
            <li><strong><%= I18n.t("help.faq.comm_questions.answer_6.ethernet.step_1") %></li>
            <li><strong><%= I18n.t("help.faq.comm_questions.answer_6.ethernet.step_2") %></li>
            <li><strong><%= I18n.t("help.faq.comm_questions.answer_6.ethernet.step_3") %></li>
            <li><strong><%= I18n.t("help.faq.comm_questions.answer_6.ethernet.step_4") %></li>
            <li><strong><%= I18n.t("help.faq.comm_questions.answer_6.ethernet.step_5") %></li>
          </ul>

          <p><%= I18n.t("help.faq.comm_questions.answer_6.gprs.title") %></p>

          <ul>
            <li><strong><%= I18n.t("help.faq.comm_questions.answer_6.gprs.step_1") %></li>
            <li><strong><%= I18n.t("help.faq.comm_questions.answer_6.gprs.step_2") %></li>
            <li><strong><%= I18n.t("help.faq.comm_questions.answer_6.gprs.step_3") %></li>
            <li><strong><%= I18n.t("help.faq.comm_questions.answer_6.gprs.step_4") %></li>
            <li><strong><%= I18n.t("help.faq.comm_questions.answer_6.gprs.step_5") %></li>
          </ul>

          <p><%= I18n.t("help.faq.comm_questions.answer_6.dialed.title") %></p>

          <ul>
            <li><strong><%= I18n.t("help.faq.comm_questions.answer_6.dialed.step_1") %></li>
            <li><strong><%= I18n.t("help.faq.comm_questions.answer_6.dialed.step_2") %></li>
            <li><strong><%= I18n.t("help.faq.comm_questions.answer_6.dialed.step_3") %></li>
          </ul>

        </div>
      </div>
    </div>
  </ul>
</div>

<h2 id="manager"><%= I18n.t("help.faq.table_of_contents.manager") %></h2>

<div class="accordion" id="accordion-manager">
  <ul>

    <div class="accordion-group">
      <div class="accordion-heading">
        <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-manager" href="#man-collapse-1"><%= I18n.t("help.faq.manager_questions.question_1") %></p>
      </div>
      <div id="man-collapse-1" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><%= I18n.t("help.faq.manager_questions.answer_1") %></p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-manager" href="#man-collapse-2"><%= I18n.t("help.faq.manager_questions.question_2") %></p>
      </div>
      <div id="man-collapse-2" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><%= I18n.t("help.faq.manager_questions.answer_2.paragraph_1") %></p>
          <ul>
            <li><strong><%= I18n.t("help.faq.manager_questions.answer_2.paragraph_2") %></li>
            <li><strong><%= I18n.t("help.faq.manager_questions.answer_2.paragraph_3") %></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-manager" href="#man-collapse-3"><%= I18n.t("help.faq.manager_questions.question_3") %></p>
      </div>
      <div id="man-collapse-3" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><%= I18n.t("help.faq.manager_questions.answer_3.paragraph_1") %></p>
          <p><%= I18n.t("help.faq.manager_questions.answer_3.paragraph_2") %></p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-manager" href="#man-collapse-4"><%= I18n.t("help.faq.manager_questions.question_4") %></p>
      </div>
      <div id="man-collapse-4" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><%= I18n.t("help.faq.manager_questions.answer_4") %></p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-manager" href="#man-collapse-5"><%= I18n.t("help.faq.manager_questions.question_5") %></p>
      </div>
      <div id="man-collapse-5" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><%= I18n.t("help.faq.manager_questions.answer_5") %></p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-manager" href="#man-collapse-6"><%= I18n.t("help.faq.manager_questions.question_6") %></p>
      </div>
      <div id="man-collapse-6" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><%= I18n.t("help.faq.manager_questions.answer_6") %></p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-manager" href="#man-collapse-7"><%= I18n.t("help.faq.manager_questions.question_7") %></p>
      </div>
      <div id="man-collapse-7" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><%= I18n.t("help.faq.manager_questions.answer_7.paragraph_1") %></p>
          <p><%= I18n.t("help.faq.manager_questions.answer_7.paragraph_2") %></p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-manager" href="#man-collapse-8"><%= I18n.t("help.faq.manager_questions.question_8") %></p>
      </div>
      <div id="man-collapse-8" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><%= I18n.t("help.faq.manager_questions.answer_8") %></p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-manager" href="#man-collapse-9"><%= I18n.t("help.faq.manager_questions.question_9") %></p>
      </div>
      <div id="man-collapse-9" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><%= I18n.t("help.faq.manager_questions.answer_9") %></p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-manager" href="#man-collapse-10"><%= I18n.t("help.faq.manager_questions.question_10") %></p>
      </div>
      <div id="man-collapse-10" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><%= I18n.t("help.faq.manager_questions.answer_10") %></p>
        </div>
      </div>
    </div>

  </ul>

</div>

<h2 id="cloudwalk"><%= I18n.t("help.faq.table_of_contents.cloudwalk") %></h2>

<div class="accordion" id="accordion-cloudwalk">
  <ul>

    <div class="accordion-group">
      <div class="accordion-heading">
        <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-cloudwalk" href="#clw-collapse-1"><%= I18n.t("help.faq.cloudwalk_questions.question_1") %></p>
      </div>
      <div id="clw-collapse-1" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><%= I18n.t("help.faq.cloudwalk_questions.answer_1") %></p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-cloudwalk" href="#clw-collapse-2"><%= I18n.t("help.faq.cloudwalk_questions.question_2") %></p>
      </div>
      <div id="clw-collapse-2" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><%= I18n.t("help.faq.cloudwalk_questions.answer_2") %></p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-cloudwalk" href="#clw-collapse-3"><%= I18n.t("help.faq.cloudwalk_questions.question_3") %></p>
      </div>
      <div id="clw-collapse-3" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><%= I18n.t("help.faq.cloudwalk_questions.answer_3") %></p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-cloudwalk" href="#clw-collapse-4"><%= I18n.t("help.faq.cloudwalk_questions.question_4") %></p>
      </div>
      <div id="clw-collapse-4" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><%= I18n.t("help.faq.cloudwalk_questions.answer_4") %></p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-cloudwalk" href="#clw-collapse-5"><%= I18n.t("help.faq.cloudwalk_questions.question_5") %></p>
      </div>
      <div id="clw-collapse-5" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><%= I18n.t("help.faq.cloudwalk_questions.answer_5") %></p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-cloudwalk" href="#clw-collapse-6"><%= I18n.t("help.faq.cloudwalk_questions.question_6") %></p>
      </div>
      <div id="clw-collapse-6" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><%= I18n.t("help.faq.cloudwalk_questions.answer_6") %></p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-cloudwalk" href="#clw-collapse-7"><%= I18n.t("help.faq.cloudwalk_questions.question_7") %></p>
      </div>
      <div id="clw-collapse-7" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><%= I18n.t("help.faq.cloudwalk_questions.answer_7.paragraph_1") %></p>
          <p><strong><%= I18n.t("help.faq.cloudwalk_questions.answer_7.paragraph_2") %></p>
          <p><%= I18n.t("help.faq.cloudwalk_questions.answer_7.paragraph_3") %></p>
          <p><%= I18n.t("help.faq.cloudwalk_questions.answer_7.paragraph_4") %></p>
          <p><%= I18n.t("help.faq.cloudwalk_questions.answer_7.paragraph_5") %></p>
          <p><%= I18n.t("help.faq.cloudwalk_questions.answer_7.paragraph_6") %></p>
          <p><%= I18n.t("help.faq.cloudwalk_questions.answer_7.paragraph_7") %></p>
          <p><%= I18n.t("help.faq.cloudwalk_questions.answer_7.paragraph_8") %></p>
          <p><%= I18n.t("help.faq.cloudwalk_questions.answer_7.paragraph_9") %></p>
          <p><%= I18n.t("help.faq.cloudwalk_questions.answer_7.paragraph_10") %></p>
        </div>
      </div>
    </div>

  </ul>
</div>
