<% content_for :docs_description do %>
  <meta name="docs:description" content="<%= I18n.t('help.faq.description') %>">
<% end %>

<h1><%= I18n.t("menu.help.faq.sub_group_name") %></h1>

<p class="more-info"><%= I18n.t("general.updated_at", :date => "23/01/2015") %></p>

<h4><%= I18n.t("general.index")%></h4>

<ol class="table-of-contents">
  <li><a href="#device"><%= I18n.t("help.faq.table_of_contents.device") %></a></li>
  <li><a href="#development"><%= I18n.t("help.faq.table_of_contents.development") %></a></li>
  <li><a href="#communication"  ><%= I18n.t("help.faq.table_of_contents.communication")   %></a></li>
  <li><a href="#manager"><%= I18n.t("help.faq.table_of_contents.manager")%></a></li>
  <li><a href="#cloudwalk"><%= I18n.t("help.faq.table_of_contents.cloudwalk")%></a></li>
</ol>

<h2 id="device"><%= I18n.t("help.faq.table_of_contents.device") %></h2>

<ul class="faq-listing">
  <li><a href="#<%= slugged_id(I18n.t("help.faq.device.question_1")) %>"><%= I18n.t("help.faq.device.question_1") %></a></li>
  <li><a href="#<%= slugged_id(I18n.t("help.faq.device.question_2")) %>"><%= I18n.t("help.faq.device.question_2") %></a></li>
  <li><a href="#<%= slugged_id(I18n.t("help.faq.device.question_3")) %>"><%= I18n.t("help.faq.device.question_3") %></a></li>
  <li><a href="#<%= slugged_id(I18n.t("help.faq.device.question_4")) %>"><%= I18n.t("help.faq.device.question_4") %></a></li>
  <li><a href="#<%= slugged_id(I18n.t("help.faq.device.question_5")) %>"><%= I18n.t("help.faq.device.question_5") %></a></li>
  <li><a href="#<%= slugged_id(I18n.t("help.faq.device.question_6")) %>"><%= I18n.t("help.faq.device.question_6") %></a></li>
  <li><a href="#<%= slugged_id(I18n.t("help.faq.device.question_7")) %>"><%= I18n.t("help.faq.device.question_7") %></a></li>
  <li><a href="#<%= slugged_id(I18n.t("help.faq.device.question_8")) %>"><%= I18n.t("help.faq.device.question_8") %></a></li>
  <li><a href="#<%= slugged_id(I18n.t("help.faq.device.question_9")) %>"><%= I18n.t("help.faq.device.question_9") %></a></li>
  <li><a href="#<%= slugged_id(I18n.t("help.faq.device.question_10")) %>"><%= I18n.t("help.faq.device.question_10") %></a></li>
  <li><a href="#<%= slugged_id(I18n.t("help.faq.device.question_11")) %>"><%= I18n.t("help.faq.device.question_11") %></a></li>
  <li><a href="#<%= slugged_id(I18n.t("help.faq.device.question_12")) %>"><%= I18n.t("help.faq.device.question_12") %></a></li>
  <li><a href="#<%= slugged_id(I18n.t("help.faq.device.question_13")) %>"><%= I18n.t("help.faq.device.question_13") %></a></li>
  <li><a href="#<%= slugged_id(I18n.t("help.faq.device.question_14")) %>"><%= I18n.t("help.faq.device.question_14") %></a></li>
</ul>

<h3 class="anchor" id="<%= slugged_id(I18n.t("help.faq.device.question_1")) %>"><a href="#<%= slugged_id(I18n.t("help.faq.device.question_1")) %>"><%= I18n.t("help.faq.device.question_1") %></a></h3>
<p><%= I18n.t("help.faq.device.answer_1") %></p>

<h3 class="anchor" id="<%= slugged_id(I18n.t("help.faq.device.question_2")) %>"><a href="#<%= slugged_id(I18n.t("help.faq.device.question_2")) %>"><%= I18n.t("help.faq.device.question_2") %></a></h3>
<p><%= I18n.t("help.faq.device.answer_2") %></p>

<h3 class="anchor" id="<%= slugged_id(I18n.t("help.faq.device.question_3")) %>"><a href="#<%= slugged_id(I18n.t("help.faq.device.question_3")) %>"><%= I18n.t("help.faq.device.question_3") %></a></h3>
<p><%= I18n.t("help.faq.device.answer_3") %></p>

<h3 class="anchor" id="<%= slugged_id(I18n.t("help.faq.device.question_4")) %>"><a href="#<%= slugged_id(I18n.t("help.faq.device.question_4")) %>"><%= I18n.t("help.faq.device.question_4") %></a></h3>
<p><%= I18n.t("help.faq.device.answer_4") %></p>

<h3 class="anchor" id="<%= slugged_id(I18n.t("help.faq.device.question_5")) %>"><a href="#<%= slugged_id(I18n.t("help.faq.device.question_5")) %>"><%= I18n.t("help.faq.device.question_5") %></a></h3>
<p><%= I18n.t("help.faq.device.answer_5") %></p>

<h3 class="anchor" id="<%= slugged_id(I18n.t("help.faq.device.question_6")) %>"><a href="#<%= slugged_id(I18n.t("help.faq.device.question_6")) %>"><%= I18n.t("help.faq.device.question_6") %></a></h3>
<p><%= I18n.t("help.faq.device.answer_6") %></p>

<h3 class="anchor" id="<%= slugged_id(I18n.t("help.faq.device.question_7")) %>"><a href="#<%= slugged_id(I18n.t("help.faq.device.question_7")) %>"><%= I18n.t("help.faq.device.question_7") %></a></h3>
<p><%= I18n.t("help.faq.device.answer_7") %></p>

<h3 class="anchor" id="<%= slugged_id(I18n.t("help.faq.device.question_8")) %>"><a href="#<%= slugged_id(I18n.t("help.faq.device.question_8")) %>"><%= I18n.t("help.faq.device.question_8") %></a></h3>
<p><%= I18n.t("help.faq.device.answer_8") %></p>

<h3 class="anchor" id="<%= slugged_id(I18n.t("help.faq.device.question_9")) %>"><a href="#<%= slugged_id(I18n.t("help.faq.device.question_9")) %>"><%= I18n.t("help.faq.device.question_9") %></a></h3>
<p><%= I18n.t("help.faq.device.answer_9") %></p>

<h3 class="anchor" id="<%= slugged_id(I18n.t("help.faq.device.question_10")) %>"><a href="#<%= slugged_id(I18n.t("help.faq.device.question_10")) %>"><%= I18n.t("help.faq.device.question_10") %></a></h3>
<p><%= I18n.t("help.faq.device.answer_10") %></p>

<h3 class="anchor" id="<%= slugged_id(I18n.t("help.faq.device.question_11")) %>"><a href="#<%= slugged_id(I18n.t("help.faq.device.question_11")) %>"><%= I18n.t("help.faq.device.question_11") %></a></h3>
<p><%= I18n.t("help.faq.device.answer_11") %></p>

<h3 class="anchor" id="<%= slugged_id(I18n.t("help.faq.device.question_12")) %>"><a href="#<%= slugged_id(I18n.t("help.faq.device.question_12")) %>"><%= I18n.t("help.faq.device.question_12") %></a></h3>
<p><%= I18n.t("help.faq.device.answer_12") %></p>

<h3 class="anchor" id="<%= slugged_id(I18n.t("help.faq.device.question_13")) %>"><a href="#<%= slugged_id(I18n.t("help.faq.device.question_13")) %>"><%= I18n.t("help.faq.device.question_13") %></a></h3>
<p><%= I18n.t("help.faq.device.answer_13") %></p>

<h3 class="anchor" id="<%= slugged_id(I18n.t("help.faq.device.question_14")) %>"><a href="#<%= slugged_id(I18n.t("help.faq.device.question_14")) %>"><%= I18n.t("help.faq.device.question_14") %></a></h3>
<p><%= I18n.t("help.faq.device.answer_14") %></p>

<h2 id="development"><%= I18n.t("help.faq.table_of_contents.development") %></h2>

<ul class="faq-listing">
  <li><a href="#<%= slugged_id(I18n.t("help.faq.development.question_1")) %>"><%= I18n.t("help.faq.development.question_1") %></a></li>
  <li><a href="#<%= slugged_id(I18n.t("help.faq.development.question_2")) %>"><%= I18n.t("help.faq.development.question_2") %></a></li>
  <li><a href="#<%= slugged_id(I18n.t("help.faq.development.question_3")) %>"><%= I18n.t("help.faq.development.question_3") %></a></li>
  <li><a href="#<%= slugged_id(I18n.t("help.faq.development.question_4")) %>"><%= I18n.t("help.faq.development.question_4") %></a></li>
  <li><a href="#<%= slugged_id(I18n.t("help.faq.development.question_5")) %>"><%= I18n.t("help.faq.development.question_5") %></a></li>
  <li><a href="#<%= slugged_id(I18n.t("help.faq.development.question_6")) %>"><%= I18n.t("help.faq.development.question_6") %></a></li>
  <li><a href="#<%= slugged_id(I18n.t("help.faq.development.question_7")) %>"><%= I18n.t("help.faq.development.question_7") %></a></li>
  <li><a href="#<%= slugged_id(I18n.t("help.faq.development.question_8")) %>"><%= I18n.t("help.faq.development.question_8") %></a></li>
  <li><a href="#<%= slugged_id(I18n.t("help.faq.development.question_9")) %>"><%= I18n.t("help.faq.development.question_9") %></a></li>
  <li><a href="#<%= slugged_id(I18n.t("help.faq.development.question_10")) %>"><%= I18n.t("help.faq.development.question_10") %></a></li>
  <li><a href="#<%= slugged_id(I18n.t("help.faq.development.question_11")) %>"><%= I18n.t("help.faq.development.question_11") %></a></li>
  <li><a href="#<%= slugged_id(I18n.t("help.faq.development.question_12")) %>"><%= I18n.t("help.faq.development.question_12") %></a></li>
</ul>

<h3 class="anchor" id="<%= slugged_id(I18n.t("help.faq.development.question_1")) %>"><a href="#<%= slugged_id(I18n.t("help.faq.development.question_1")) %>"><%= I18n.t("help.faq.development.question_1") %></a></h3>
<p><%= I18n.t("help.faq.development.answer_1") %></p>

<h3 class="anchor" id="<%= slugged_id(I18n.t("help.faq.development.question_2")) %>"><a href="#<%= slugged_id(I18n.t("help.faq.development.question_2")) %>"><%= I18n.t("help.faq.development.question_2") %></a></h3>
<p><%= I18n.t("help.faq.development.answer_2") %></p>

<h3 class="anchor" id="<%= slugged_id(I18n.t("help.faq.development.question_3")) %>"><a href="#<%= slugged_id(I18n.t("help.faq.development.question_3")) %>"><%= I18n.t("help.faq.development.question_3") %></a></h3>
<p><%= I18n.t("posxml.structure.reserved_characters.paragraph_1") %></p>
<p><%= I18n.t("posxml.structure.reserved_characters.paragraph_2") %></p>
<pre>
< &amp;lt;
> &amp;gt;
& &amp;amp;
' &amp;apos;
" &amp;quot;
</pre>
<p><%= I18n.t("help.faq.development.answer_3") %></p>

<h3 class="anchor" id="<%= slugged_id(I18n.t("help.faq.development.question_4")) %>"><a href="#<%= slugged_id(I18n.t("help.faq.development.question_4")) %>"><%= I18n.t("help.faq.development.question_4") %></a></h3>
<p><%= I18n.t("help.faq.development.answer_4") %></p>

<h3 class="anchor" id="<%= slugged_id(I18n.t("help.faq.development.question_5")) %>"><a href="#<%= slugged_id(I18n.t("help.faq.development.question_5")) %>"><%= I18n.t("help.faq.development.question_5") %></a></h3>
<p><%= I18n.t("help.faq.development.answer_5") %></p>

<h3 class="anchor" id="<%= slugged_id(I18n.t("help.faq.development.question_6")) %>"><a href="#<%= slugged_id(I18n.t("help.faq.development.question_6")) %>"><%= I18n.t("help.faq.development.question_6") %></a></h3>
<p><%= I18n.t("help.faq.development.answer_6") %></p>

<h3 class="anchor" id="<%= slugged_id(I18n.t("help.faq.development.question_7")) %>"><a href="#<%= slugged_id(I18n.t("help.faq.development.question_7")) %>"><%= I18n.t("help.faq.development.question_7") %></a></h3>
<p><%= I18n.t("help.faq.development.answer_7") %></p>

<h3 class="anchor" id="<%= slugged_id(I18n.t("help.faq.development.question_8")) %>"><a href="#<%= slugged_id(I18n.t("help.faq.development.question_8")) %>"><%= I18n.t("help.faq.development.question_8") %></a></h3>
<p><%= I18n.t("help.faq.development.answer_8") %></p>

<h3 class="anchor" id="<%= slugged_id(I18n.t("help.faq.development.question_9")) %>"><a href="#<%= slugged_id(I18n.t("help.faq.development.question_9")) %>"><%= I18n.t("help.faq.development.question_9") %></a></h3>
<p><%= I18n.t("help.faq.development.answer_9") %></p>

<h3 class="anchor" id="<%= slugged_id(I18n.t("help.faq.development.question_10")) %>"><a href="#<%= slugged_id(I18n.t("help.faq.development.question_10")) %>"><%= I18n.t("help.faq.development.question_10") %></a></h3>
<p><%= I18n.t("help.faq.development.answer_10") %></p>

<h3 class="anchor" id="<%= slugged_id(I18n.t("help.faq.development.question_11")) %>"><a href="#<%= slugged_id(I18n.t("help.faq.development.question_11")) %>"><%= I18n.t("help.faq.development.question_11") %></a></h3>
<p><%= I18n.t("help.faq.development.answer_11") %></p>

<h3 class="anchor" id="<%= slugged_id(I18n.t("help.faq.development.question_12")) %>"><a href="#<%= slugged_id(I18n.t("help.faq.development.question_12")) %>"><%= I18n.t("help.faq.development.question_12") %></a></h3>
<p><%= I18n.t("help.faq.development.answer_12") %></p>

<h2 id="communication"><%= I18n.t("help.faq.table_of_contents.communication") %></h2>

<ul class="faq-listing">
  <li><a href="#<%= slugged_id(I18n.t("help.faq.communication.question_1")) %>"><%= I18n.t("help.faq.communication.question_1") %></a></li>
  <li><a href="#<%= slugged_id(I18n.t("help.faq.communication.question_2")) %>"><%= I18n.t("help.faq.communication.question_2") %></a></li>
  <li><a href="#<%= slugged_id(I18n.t("help.faq.communication.question_3")) %>"><%= I18n.t("help.faq.communication.question_3") %></a></li>
  <li><a href="#<%= slugged_id(I18n.t("help.faq.communication.question_4")) %>"><%= I18n.t("help.faq.communication.question_4") %></a></li>
  <li><a href="#<%= slugged_id(I18n.t("help.faq.communication.question_5")) %>"><%= I18n.t("help.faq.communication.question_5") %></a></li>
  <li><a href="#<%= slugged_id(I18n.t("help.faq.communication.question_6")) %>"><%= I18n.t("help.faq.communication.question_6") %></a></li>
</ul>

<h3 class="anchor" id="<%= slugged_id(I18n.t("help.faq.communication.question_1")) %>"><a href="#<%= slugged_id(I18n.t("help.faq.communication.question_1")) %>"><%= I18n.t("help.faq.communication.question_1") %></a></h3>
<p><%= I18n.t("help.faq.communication.answer_1") %></p>

<h3 class="anchor" id="<%= slugged_id(I18n.t("help.faq.communication.question_2")) %>"><a href="#<%= slugged_id(I18n.t("help.faq.communication.question_2")) %>"><%= I18n.t("help.faq.communication.question_2") %></a></h3>
<p><%= I18n.t("help.faq.communication.answer_2") %></p>

<h3 class="anchor" id="<%= slugged_id(I18n.t("help.faq.communication.question_3")) %>"><a href="#<%= slugged_id(I18n.t("help.faq.communication.question_3")) %>"><%= I18n.t("help.faq.communication.question_3") %></a></h3>
<p><%= I18n.t("help.faq.communication.answer_3") %></p>

<h3 class="anchor" id="<%= slugged_id(I18n.t("help.faq.communication.question_4")) %>"><a href="#<%= slugged_id(I18n.t("help.faq.communication.question_4")) %>"><%= I18n.t("help.faq.communication.question_4") %></a></h3>
<p><%= I18n.t("help.faq.communication.answer_4") %></p>

<h3 class="anchor" id="<%= slugged_id(I18n.t("help.faq.communication.question_5")) %>"><a href="#<%= slugged_id(I18n.t("help.faq.communication.question_5")) %>"><%= I18n.t("help.faq.communication.question_5") %></a></h3>
<p><%= I18n.t("help.faq.communication.answer_5") %></p>

<h3 class="anchor" id="<%= slugged_id(I18n.t("help.faq.communication.question_6")) %>"><a href="#<%= slugged_id(I18n.t("help.faq.communication.question_6")) %>"><%= I18n.t("help.faq.communication.question_6") %></a></h3>
<p><%= I18n.t("help.faq.communication.answer_6.paragraph_1") %></p>
<p><%= I18n.t("help.faq.communication.answer_6.ethernet.title") %></p>

<ul>
  <li><strong><%= I18n.t("help.faq.communication.answer_6.ethernet.step_1") %></li>
  <li><strong><%= I18n.t("help.faq.communication.answer_6.ethernet.step_2") %></li>
  <li><strong><%= I18n.t("help.faq.communication.answer_6.ethernet.step_3") %></li>
  <li><strong><%= I18n.t("help.faq.communication.answer_6.ethernet.step_4") %></li>
  <li><strong><%= I18n.t("help.faq.communication.answer_6.ethernet.step_5") %></li>
</ul>

<p><%= I18n.t("help.faq.communication.answer_6.gprs.title") %></p>

<ul>
  <li><strong><%= I18n.t("help.faq.communication.answer_6.gprs.step_1") %></li>
  <li><strong><%= I18n.t("help.faq.communication.answer_6.gprs.step_2") %></li>
  <li><strong><%= I18n.t("help.faq.communication.answer_6.gprs.step_3") %></li>
  <li><strong><%= I18n.t("help.faq.communication.answer_6.gprs.step_4") %></li>
  <li><strong><%= I18n.t("help.faq.communication.answer_6.gprs.step_5") %></li>
</ul>

<p><%= I18n.t("help.faq.communication.answer_6.dialed.title") %></p>

<ul>
  <li><strong><%= I18n.t("help.faq.communication.answer_6.dialed.step_1") %></li>
  <li><strong><%= I18n.t("help.faq.communication.answer_6.dialed.step_2") %></li>
  <li><strong><%= I18n.t("help.faq.communication.answer_6.dialed.step_3") %></li>
</ul>

<h2 id="manager"><%= I18n.t("help.faq.table_of_contents.manager") %></h2>

<ul class="faq-listing">
  <li><a href="#<%= slugged_id(I18n.t("help.faq.manager.question_1")) %>"><%= I18n.t("help.faq.manager.question_1") %></a></li>
  <li><a href="#<%= slugged_id(I18n.t("help.faq.manager.question_2")) %>"><%= I18n.t("help.faq.manager.question_2") %></a></li>
  <li><a href="#<%= slugged_id(I18n.t("help.faq.manager.question_3")) %>"><%= I18n.t("help.faq.manager.question_3") %></a></li>
  <li><a href="#<%= slugged_id(I18n.t("help.faq.manager.question_4")) %>"><%= I18n.t("help.faq.manager.question_4") %></a></li>
  <li><a href="#<%= slugged_id(I18n.t("help.faq.manager.question_5")) %>"><%= I18n.t("help.faq.manager.question_5") %></a></li>
  <li><a href="#<%= slugged_id(I18n.t("help.faq.manager.question_6")) %>"><%= I18n.t("help.faq.manager.question_6") %></a></li>
  <li><a href="#<%= slugged_id(I18n.t("help.faq.manager.question_7")) %>"><%= I18n.t("help.faq.manager.question_7") %></a></li>
  <li><a href="#<%= slugged_id(I18n.t("help.faq.manager.question_8")) %>"><%= I18n.t("help.faq.manager.question_8") %></a></li>
  <li><a href="#<%= slugged_id(I18n.t("help.faq.manager.question_9")) %>"><%= I18n.t("help.faq.manager.question_9") %></a></li>
  <li><a href="#<%= slugged_id(I18n.t("help.faq.manager.question_10")) %>"><%= I18n.t("help.faq.manager.question_10") %></a></li>
</ul>

<h3 class="anchor" id="<%= slugged_id(I18n.t("help.faq.manager.question_1")) %>"><a href="#<%= slugged_id(I18n.t("help.faq.manager.question_1")) %>"><%= I18n.t("help.faq.manager.question_1") %></a></h3>
<p><%= I18n.t("help.faq.manager.answer_1") %></p>

<h3 class="anchor" id="<%= slugged_id(I18n.t("help.faq.manager.question_2")) %>"><a href="#<%= slugged_id(I18n.t("help.faq.manager.question_2")) %>"><%= I18n.t("help.faq.manager.question_2") %></a></h3>
<p><%= I18n.t("help.faq.manager.answer_2.paragraph_1") %></p>
<p><%= I18n.t("help.faq.manager.answer_2.paragraph_2") %></p>
<p><%= I18n.t("help.faq.manager.answer_2.paragraph_3") %></p>

<h3 class="anchor" id="<%= slugged_id(I18n.t("help.faq.manager.question_3")) %>"><a href="#<%= slugged_id(I18n.t("help.faq.manager.question_3")) %>"><%= I18n.t("help.faq.manager.question_3") %></a></h3>
<p><%= I18n.t("help.faq.manager.answer_3.paragraph_1") %></p>
<p><%= I18n.t("help.faq.manager.answer_3.paragraph_2") %></p>

<h3 class="anchor" id="<%= slugged_id(I18n.t("help.faq.manager.question_4")) %>"><a href="#<%= slugged_id(I18n.t("help.faq.manager.question_4")) %>"><%= I18n.t("help.faq.manager.question_4") %></a></h3>
<p><%= I18n.t("help.faq.manager.answer_4") %></p>

<h3 class="anchor" id="<%= slugged_id(I18n.t("help.faq.manager.question_5")) %>"><a href="#<%= slugged_id(I18n.t("help.faq.manager.question_5")) %>"><%= I18n.t("help.faq.manager.question_5") %></a></h3>
<p><%= I18n.t("help.faq.manager.answer_5") %></p>

<h3 class="anchor" id="<%= slugged_id(I18n.t("help.faq.manager.question_6")) %>"><a href="#<%= slugged_id(I18n.t("help.faq.manager.question_6")) %>"><%= I18n.t("help.faq.manager.question_6") %></a></h3>
<p><%= I18n.t("help.faq.manager.answer_6") %></p>

<h3 class="anchor" id="<%= slugged_id(I18n.t("help.faq.manager.question_7")) %>"><a href="#<%= slugged_id(I18n.t("help.faq.manager.question_7")) %>"><%= I18n.t("help.faq.manager.question_7") %></a></h3>
<p><%= I18n.t("help.faq.manager.answer_7.paragraph_1") %></p>
<p><%= I18n.t("help.faq.manager.answer_7.paragraph_2") %></p>

<h3 class="anchor" id="<%= slugged_id(I18n.t("help.faq.manager.question_8")) %>"><a href="#<%= slugged_id(I18n.t("help.faq.manager.question_8")) %>"><%= I18n.t("help.faq.manager.question_8") %></a></h3>
<p><%= I18n.t("help.faq.manager.answer_8") %></p>

<h3 class="anchor" id="<%= slugged_id(I18n.t("help.faq.manager.question_9")) %>"><a href="#<%= slugged_id(I18n.t("help.faq.manager.question_9")) %>"><%= I18n.t("help.faq.manager.question_9") %></a></h3>
<p><%= I18n.t("help.faq.manager.answer_9") %></p>

<h3 class="anchor" id="<%= slugged_id(I18n.t("help.faq.manager.question_10")) %>"><a href="#<%= slugged_id(I18n.t("help.faq.manager.question_10")) %>"><%= I18n.t("help.faq.manager.question_10") %></a></h3>
<p><%= I18n.t("help.faq.manager.answer_10") %></p>

<h2 id="cloudwalk"><%= I18n.t("help.faq.table_of_contents.cloudwalk") %></h2>

<ul class="faq-listing">
  <li><a href="#<%= slugged_id(I18n.t("help.faq.cloudwalk.question_1")) %>"><%= I18n.t("help.faq.cloudwalk.question_1") %></a></li>
  <li><a href="#<%= slugged_id(I18n.t("help.faq.cloudwalk.question_2")) %>"><%= I18n.t("help.faq.cloudwalk.question_2") %></a></li>
  <li><a href="#<%= slugged_id(I18n.t("help.faq.cloudwalk.question_3")) %>"><%= I18n.t("help.faq.cloudwalk.question_3") %></a></li>
  <li><a href="#<%= slugged_id(I18n.t("help.faq.cloudwalk.question_4")) %>"><%= I18n.t("help.faq.cloudwalk.question_4") %></a></li>
  <li><a href="#<%= slugged_id(I18n.t("help.faq.cloudwalk.question_5")) %>"><%= I18n.t("help.faq.cloudwalk.question_5") %></a></li>
  <li><a href="#<%= slugged_id(I18n.t("help.faq.cloudwalk.question_6")) %>"><%= I18n.t("help.faq.cloudwalk.question_6") %></a></li>
  <li><a href="#<%= slugged_id(I18n.t("help.faq.cloudwalk.question_7")) %>"><%= I18n.t("help.faq.cloudwalk.question_7") %></a></li>
</ul>

<h3 class="anchor" id="<%= slugged_id(I18n.t("help.faq.cloudwalk.question_1")) %>"><a href="#<%= slugged_id(I18n.t("help.faq.cloudwalk.question_1")) %>"><%= I18n.t("help.faq.cloudwalk.question_1") %></a></h3>
<p><%= I18n.t("help.faq.cloudwalk.answer_1") %></p>

<h3 class="anchor" id="<%= slugged_id(I18n.t("help.faq.cloudwalk.question_2")) %>"><a href="#<%= slugged_id(I18n.t("help.faq.cloudwalk.question_2")) %>"><%= I18n.t("help.faq.cloudwalk.question_2") %></a></h3>
<p><%= I18n.t("help.faq.cloudwalk.answer_2") %></p>

<h3 class="anchor" id="<%= slugged_id(I18n.t("help.faq.cloudwalk.question_3")) %>"><a href="#<%= slugged_id(I18n.t("help.faq.cloudwalk.question_3")) %>"><%= I18n.t("help.faq.cloudwalk.question_3") %></a></h3>
<p><%= I18n.t("help.faq.cloudwalk.answer_3") %></p>

<h3 class="anchor" id="<%= slugged_id(I18n.t("help.faq.cloudwalk.question_4")) %>"><a href="#<%= slugged_id(I18n.t("help.faq.cloudwalk.question_4")) %>"><%= I18n.t("help.faq.cloudwalk.question_4") %></a></h3>
<p><%= I18n.t("help.faq.cloudwalk.answer_4") %></p>

<h3 class="anchor" id="<%= slugged_id(I18n.t("help.faq.cloudwalk.question_5")) %>"><a href="#<%= slugged_id(I18n.t("help.faq.cloudwalk.question_5")) %>"><%= I18n.t("help.faq.cloudwalk.question_5") %></a></h3>
<p><%= I18n.t("help.faq.cloudwalk.answer_5") %></p>

<h3 class="anchor" id="<%= slugged_id(I18n.t("help.faq.cloudwalk.question_6")) %>"><a href="#<%= slugged_id(I18n.t("help.faq.cloudwalk.question_6")) %>"><%= I18n.t("help.faq.cloudwalk.question_6") %></a></h3>
<p><%= I18n.t("help.faq.cloudwalk.answer_6") %></p>

<h3 class="anchor" id="<%= slugged_id(I18n.t("help.faq.cloudwalk.question_7")) %>"><a href="#<%= slugged_id(I18n.t("help.faq.cloudwalk.question_7")) %>"><%= I18n.t("help.faq.cloudwalk.question_7") %></a></h3>
<p><%= I18n.t("help.faq.cloudwalk.answer_7.paragraph_1") %></p>
<p><strong><%= I18n.t("help.faq.cloudwalk.answer_7.paragraph_2") %></p>
<p><%= I18n.t("help.faq.cloudwalk.answer_7.paragraph_3") %></p>
<p><%= I18n.t("help.faq.cloudwalk.answer_7.paragraph_4") %></p>
<p><%= I18n.t("help.faq.cloudwalk.answer_7.paragraph_5") %></p>
<p><%= I18n.t("help.faq.cloudwalk.answer_7.paragraph_6") %></p>
<p><%= I18n.t("help.faq.cloudwalk.answer_7.paragraph_7") %></p>
<p><%= I18n.t("help.faq.cloudwalk.answer_7.paragraph_8") %></p>
<p><%= I18n.t("help.faq.cloudwalk.answer_7.paragraph_9") %></p>
<p><%= I18n.t("help.faq.cloudwalk.answer_7.paragraph_10") %></p>
