<h2 id="communication"><%= I18n.t("help.faq.table_of_contents.communication") %></h2>

<ul class="faq-listing">
  <li><%= toc_item(I18n.t("help.faq.communication.question_1")) %></li>
  <li><%= toc_item(I18n.t("help.faq.communication.question_2")) %></li>
  <li><%= toc_item(I18n.t("help.faq.communication.question_3")) %></li>
  <li><%= toc_item(I18n.t("help.faq.communication.question_4")) %></li>
</ul>

<div class="faq">
  <%= toc_header(I18n.t("help.faq.communication.question_1")) %>
  <p><%= I18n.t("help.faq.communication.answer_1") %></p>

  <%= toc_header(I18n.t("help.faq.communication.question_2")) %>
  <p><%= I18n.t("help.faq.communication.answer_2") %></p>

  <%= toc_header(I18n.t("help.faq.communication.question_3")) %>
  <p><%= I18n.t("help.faq.communication.answer_3.paragraph_1") %></p>
  <p><%= I18n.t("help.faq.communication.answer_3.paragraph_2") %></p>
  <p><%= I18n.t("help.faq.communication.answer_3.paragraph_3") %></p>

  <%= toc_header(I18n.t("help.faq.communication.question_4")) %>
  <p><%= I18n.t("help.faq.communication.answer_4.paragraph_1") %></p>

  <h3><%= I18n.t("help.faq.communication.answer_4.pos_problems.title") %></h3>
  <p><%= I18n.t("help.faq.communication.answer_4.pos_problems.paragraph_1") %></p>

  <h3><%= I18n.t("help.faq.communication.answer_4.infrastructure_problems.title") %></h3>
  <p><%= I18n.t("help.faq.communication.answer_4.infrastructure_problems.paragraph_1") %></p>
  <ol>
    <li><%= I18n.t("help.faq.communication.answer_4.infrastructure_problems.paragraph_2") %></li>
    <li><%= I18n.t("help.faq.communication.answer_4.infrastructure_problems.paragraph_3") %></li>
    <li><%= I18n.t("help.faq.communication.answer_4.infrastructure_problems.paragraph_4") %></li>
    <li><%= I18n.t("help.faq.communication.answer_4.infrastructure_problems.paragraph_5") %></li>
    <li><%= I18n.t("help.faq.communication.answer_4.infrastructure_problems.paragraph_6") %></li>
  </ol>

  <h3><%= I18n.t("help.faq.communication.answer_4.configuration_problems.title") %></h3>
  <p><%= I18n.t("help.faq.communication.answer_4.configuration_problems.paragraph_1") %></p>

  <ol>
    <li><%= I18n.t("help.faq.communication.answer_4.configuration_problems.paragraph_2") %></li>
    <li><%= I18n.t("help.faq.communication.answer_4.configuration_problems.paragraph_3") %></li>
    <li><%= I18n.t("help.faq.communication.answer_4.configuration_problems.paragraph_4") %></li>
    <li><%= I18n.t("help.faq.communication.answer_4.configuration_problems.paragraph_5") %></li>
  </ol>
</div>
