<h2 id="cloudwalk"><%= I18n.t("help.faq.table_of_contents.cloudwalk") %></h2>

<ul class="faq-listing">
  <li><%= toc_item(I18n.t("help.faq.cloudwalk.question_1")) %></li>
  <li><%= toc_item(I18n.t("help.faq.cloudwalk.question_2")) %></li>
</ul>

<div class="faq">
  <%= toc_header(I18n.t("help.faq.cloudwalk.question_1")) %>
  <p><%= I18n.t("help.faq.cloudwalk.answer_1") %></p>

  <%= toc_header(I18n.t("help.faq.cloudwalk.question_2")) %>
  <p><%= I18n.t("help.faq.cloudwalk.answer_2") %></p>
</div>
