<% content_for :docs_description do %>
  <meta name="docs:description" content="<%= I18n.t('walk_framework.configuration.description') %>">
<% end %>

<h1><%= I18n.t("walk_framework.configuration.title") %></h1>

<ol class="table-of-contents">
  <li><a href="#logical-number"><%= I18n.t("walk_framework.configuration.table_of_contents.logical_number") %></a></li>
  <li><a href="#communication"><%= I18n.t("walk_framework.configuration.table_of_contents.communication") %></a></li>
  <li><a href="#magstripe-settings"><%= I18n.t("walk_framework.configuration.table_of_contents.magstripe_settings") %></a></li>
  <li><a href="#clear-this-device"><%= I18n.t("walk_framework.configuration.table_of_contents.clear_this_device") %></a></li>
  <li><a href="#check-serial-number"><%= I18n.t("walk_framework.configuration.table_of_contents.check_serial_number") %></a></li>
  <li><a href="#cloudwalk-update"><%= I18n.t("walk_framework.configuration.table_of_contents.cloudwalk_update") %></a></li>
  <li><a href="#about"><%= I18n.t("walk_framework.configuration.table_of_contents.about") %></a></li>
</ol>

<p class="note"><%= I18n.t("walk_framework.configuration.password") %></p>

<h2 id="logical-number"><%= I18n.t("walk_framework.configuration.table_of_contents.logical_number") %></h2>

<p><%= I18n.t("walk_framework.configuration.logical_number.paragraph_1") %></p>

<p><%= I18n.t("walk_framework.configuration.logical_number.paragraph_2") %></p>

<ol>
  <li><%= link_to("WALK Manager", "walk-manager/logical-numbers") %></li>
  <li><%= link_to(I18n.t("walk_framework.configuration.logical_number.integration"), "integration/http#walk-manager-setup") %></li>
</ol>

<h2 id="communication"><%= I18n.t("walk_framework.configuration.table_of_contents.communication") %></h2>

<p><%= I18n.t("walk_framework.configuration.communication.paragraph_1") %></p>

<p><%= I18n.t("walk_framework.configuration.communication.paragraph_2") %></p>

<%= erb "walk_framework/communication".to_sym %>

<h2 id="magstripe-settings"><%= I18n.t("walk_framework.configuration.table_of_contents.magstripe_settings") %></h2>

<p><%= I18n.t("walk_framework.configuration.magstripe_settings.paragraph_1") %></p>

<div class="pos evo"><pre>
MAGSTRIPE SETTINGS

0-T2/DIGIT/SWIPE
2-T2/SWIPE ONLY
4-T1/T2/DIGIT/SWIPE
255-T1/T2/SWIPE ONLY

</pre></div>

<p><%= I18n.t("walk_framework.configuration.magstripe_settings.paragraph_2") %></p>

<ul>
  <li><strong>0-T2/DIGIT/SWIPE:</strong> <%= I18n.t("walk_framework.configuration.magstripe_settings.types.t0") %></li>
  <li><strong>2-T2/SWIPE ONLY:</strong> <%= I18n.t("walk_framework.configuration.magstripe_settings.types.t2") %></li>
  <li><strong>4-T1/T2/DIGIT/SWIPE:</strong> <%= I18n.t("walk_framework.configuration.magstripe_settings.types.t4") %></li>
  <li><strong>255-T1/T2/SWIPE ONLY:</strong> <%= I18n.t("walk_framework.configuration.magstripe_settings.types.t255") %></li>
</ul>

<h2 id="clear-this-device"><%= I18n.t("walk_framework.configuration.table_of_contents.clear_this_device") %></h2>

<p><%= I18n.t("walk_framework.configuration.clear_this_device.paragraph_1") %></p>

<div class="pos evo"><pre>
ARE YOU SURE YOU
WANT TO CLEAR THIS
DEVICE?

APPS AND PARAMS WILL
BE REMOVED.
</pre></div>

<h2 id="check-serial-number"><%= I18n.t("walk_framework.configuration.table_of_contents.check_serial_number") %></h2>

<p><%= I18n.t("walk_framework.configuration.check_serial_number.paragraph_1") %></p>

<div class="pos evo"><pre>
SERIAL NUMBER

123-456-789
</pre></div>

<h2 id="cloudwalk-update"><%= I18n.t("walk_framework.configuration.table_of_contents.cloudwalk_update") %></h2>

<p><%= I18n.t("walk_framework.configuration.cloudwalk_update.paragraph_1") %></p>

<div class="pos evo"><pre>
SELECT THE SIGNATURE

1. PAYTEC
2. TEFTI
</pre></div>

<h2 id="about"><%= I18n.t("walk_framework.configuration.table_of_contents.about") %></h2>

<p><%= I18n.t("walk_framework.configuration.about.paragraph_1") %></p>

<div class="pos evo"><pre>
CLOUDWALK 2014

DEVICE MODEL:
ICT220

FRAMEWORK VERSION:
3.51
</pre></div>
