<% content_for :docs_description do %>
  <meta name="docs:description" content="<%= I18n.t('walk_framework.first_launch.description') %>">
<% end %>

<h1><%= I18n.t("walk_framework.first_launch.title") %></h1>

<p class="more-info"><%= I18n.t("general.updated_at", :date => "29/01/2014") %></p>

<h4><%= I18n.t("general.index") %></h4>

<ol class="table-of-contents">
  <li><a href="#pre-requisites"><%= I18n.t("walk_framework.first_launch.table_of_contents.prerequisites") %></a></li>
  <li><a href="#language-settings"><%= I18n.t("walk_framework.first_launch.table_of_contents.language_settings") %></a></li>
  <li><a href="#step-1"><%= I18n.t("walk_framework.first_launch.table_of_contents.step_1") %></a></li>
  <li><a href="#step-2"><%= I18n.t("walk_framework.first_launch.table_of_contents.step_2") %></a></li>
  <li><a href="#step-3"><%= I18n.t("walk_framework.first_launch.table_of_contents.step_3") %></a></li>
  <li><a href="#step-4"><%= I18n.t("walk_framework.first_launch.table_of_contents.step_4") %></a></li>
</ol>

<h2 id="pre-requisites"><%= I18n.t("walk_framework.first_launch.table_of_contents.prerequisites") %></h2>

<ol>
  <li><%= I18n.t("walk_framework.first_launch.prerequisites.walk_framework") %></li>
  <li><%= I18n.t("walk_framework.first_launch.prerequisites.internet_access") %></li>
</ol>

<h2 id="language-settings"><%= I18n.t("walk_framework.first_launch.table_of_contents.language_settings") %></h2>

<p><%= I18n.t("walk_framework.first_launch.language_settings.paragraph_1") %></p>

<div class="pos evo">
<pre>
WELCOME TO CLOUDWALK

LANGUAGE SETTINGS

1.PORTUGUÊS
2.ENGLISH
</pre>
</div>

<p><%= I18n.t("walk_framework.first_launch.language_settings.paragraph_2") %></p>

<h2 id="step-1"><%= I18n.t("walk_framework.first_launch.table_of_contents.step_1") %></h2>

<p><%= I18n.t("walk_framework.first_launch.step_1.paragraph_1") %></p>

<div class="pos evo">
<pre>
<%= I18n.t("walk_framework.first_launch.step_1.posxml.screen_1.line_1") %>
<%= I18n.t("walk_framework.first_launch.step_1.posxml.screen_1.line_2") %>
<%= I18n.t("walk_framework.first_launch.step_1.posxml.screen_1.line_3") %>
<%= I18n.t("walk_framework.first_launch.step_1.posxml.screen_1.line_4") %>
<%= I18n.t("walk_framework.first_launch.step_1.posxml.screen_1.line_5") %>
<%= I18n.t("walk_framework.first_launch.step_1.posxml.screen_1.line_6") %>
<%= I18n.t("walk_framework.first_launch.step_1.posxml.screen_1.line_7") %>
<%= I18n.t("walk_framework.first_launch.step_1.posxml.screen_1.line_8") %>
</pre>
</div>

<p><%= I18n.t("walk_framework.first_launch.step_1.paragraph_2") %></p>

<div class="pos evo"><pre>
<%= I18n.t("walk_framework.first_launch.step_1.posxml.screen_2.line_1") %>
<%= I18n.t("walk_framework.first_launch.step_1.posxml.screen_2.line_2") %>
<%= I18n.t("walk_framework.first_launch.step_1.posxml.screen_2.line_3") %>
<%= I18n.t("walk_framework.first_launch.step_1.posxml.screen_2.line_4") %>
<%= I18n.t("walk_framework.first_launch.step_1.posxml.screen_2.line_5") %>
<%= I18n.t("walk_framework.first_launch.step_1.posxml.screen_2.line_6") %>
<%= I18n.t("walk_framework.first_launch.step_1.posxml.screen_2.line_7") %>
<%= I18n.t("walk_framework.first_launch.step_1.posxml.screen_2.line_8") %>
</pre></div>

<p><%= I18n.t("walk_framework.first_launch.step_1.paragraph_3") %></p>

<ol>
  <li><%= I18n.t("walk_framework.first_launch.step_1.paragraph_4") %></li>
  <li><%= I18n.t("walk_framework.first_launch.step_1.paragraph_5") %></li>
  <li><%= I18n.t("walk_framework.first_launch.step_1.paragraph_6") %></li>
  <li><%= I18n.t("walk_framework.first_launch.step_1.paragraph_7") %></li>
</ol>

<p class="note"><%= I18n.t("walk_framework.first_launch.step_1.paragraph_8") %></p>

<p><%= I18n.t("walk_framework.first_launch.step_1.paragraph_9") %></p>

<h2 id="step-2"><%= I18n.t("walk_framework.first_launch.table_of_contents.step_2") %></h2>

<p><%= I18n.t("walk_framework.first_launch.step_2.paragraph_1") %></p>

<div class="pos evo"><pre>
<%= I18n.t("walk_framework.first_launch.step_2.posxml.screen_1.line_1") %>
<%= I18n.t("walk_framework.first_launch.step_2.posxml.screen_1.line_2") %>
<%= I18n.t("walk_framework.first_launch.step_2.posxml.screen_1.line_3") %>
<%= I18n.t("walk_framework.first_launch.step_2.posxml.screen_1.line_4") %>
<%= I18n.t("walk_framework.first_launch.step_2.posxml.screen_1.line_5") %>
<%= I18n.t("walk_framework.first_launch.step_2.posxml.screen_1.line_6") %>
<%= I18n.t("walk_framework.first_launch.step_2.posxml.screen_1.line_7") %>
<%= I18n.t("walk_framework.first_launch.step_2.posxml.screen_1.line_8") %>
</pre></div>

<p class="note"><%= I18n.t("walk_manager.logical_numbers.functionality.paragraph_4") %></p>

<div class="pos evo"><pre>
<%= I18n.t("walk_framework.first_launch.step_2.posxml.screen_2.line_1") %>
<%= I18n.t("walk_framework.first_launch.step_2.posxml.screen_2.line_2") %>
<%= I18n.t("walk_framework.first_launch.step_2.posxml.screen_2.line_3") %>
<%= I18n.t("walk_framework.first_launch.step_2.posxml.screen_2.line_4") %>
<%= I18n.t("walk_framework.first_launch.step_2.posxml.screen_2.line_5") %>
<%= I18n.t("walk_framework.first_launch.step_2.posxml.screen_2.line_6") %>
<%= I18n.t("walk_framework.first_launch.step_2.posxml.screen_2.line_7") %>
<%= I18n.t("walk_framework.first_launch.step_2.posxml.screen_2.line_8") %>
</pre></div>

<ol>
  <li><%= I18n.t("walk_framework.first_launch.step_2.paragraph_2") %></li>
  <li><%= I18n.t("walk_framework.first_launch.step_2.paragraph_3") %></li>
  <li><%= I18n.t("walk_framework.first_launch.step_2.paragraph_4") %></li>
  <li><%= I18n.t("walk_framework.first_launch.step_2.paragraph_5") %></li>
</ol>

<h2 id="step-3"><%= I18n.t("walk_framework.first_launch.table_of_contents.step_3") %></h2>

<p><%= I18n.t("walk_framework.first_launch.step_3.paragraph_1") %></p>

<div class="pos evo"><pre>
<%= I18n.t("walk_framework.first_launch.step_3.posxml.screen_1.line_1") %>
<%= I18n.t("walk_framework.first_launch.step_3.posxml.screen_1.line_2") %>
<%= I18n.t("walk_framework.first_launch.step_3.posxml.screen_1.line_3") %>
<%= I18n.t("walk_framework.first_launch.step_3.posxml.screen_1.line_4") %>
<%= I18n.t("walk_framework.first_launch.step_3.posxml.screen_1.line_5") %>
<%= I18n.t("walk_framework.first_launch.step_3.posxml.screen_1.line_6") %>
<%= I18n.t("walk_framework.first_launch.step_3.posxml.screen_1.line_7") %>
<%= I18n.t("walk_framework.first_launch.step_3.posxml.screen_1.line_8") %>
</pre></div>

<p><%= I18n.t("walk_framework.first_launch.step_3.paragraph_2") %></p>

<div class="pos evo"><pre>
<%= I18n.t("walk_framework.first_launch.step_3.posxml.screen_2.line_1") %>
<%= I18n.t("walk_framework.first_launch.step_3.posxml.screen_2.line_2") %>
<%= I18n.t("walk_framework.first_launch.step_3.posxml.screen_2.line_3") %>
<%= I18n.t("walk_framework.first_launch.step_3.posxml.screen_2.line_4") %>
<%= I18n.t("walk_framework.first_launch.step_3.posxml.screen_2.line_5") %>
<%= I18n.t("walk_framework.first_launch.step_3.posxml.screen_2.line_6") %>
<%= I18n.t("walk_framework.first_launch.step_3.posxml.screen_2.line_7") %>
<%= I18n.t("walk_framework.first_launch.step_3.posxml.screen_2.line_8") %>
</pre></div>

<p><%= I18n.t("walk_framework.first_launch.step_3.paragraph_3") %></p>

<%= erb "walk_framework/communication".to_sym %>

<h2 id="step-4"><%= I18n.t("walk_framework.first_launch.table_of_contents.step_4") %></h2>

<p><%= I18n.t("walk_framework.first_launch.step_4.paragraph_1") %></p>

<div class="pos evo"><pre>
<%= I18n.t("walk_framework.first_launch.step_4.posxml.screen_1.line_1") %>
<%= I18n.t("walk_framework.first_launch.step_4.posxml.screen_1.line_2") %>
<%= I18n.t("walk_framework.first_launch.step_4.posxml.screen_1.line_3") %>
<%= I18n.t("walk_framework.first_launch.step_4.posxml.screen_1.line_4") %>
<%= I18n.t("walk_framework.first_launch.step_4.posxml.screen_1.line_5") %>
<%= I18n.t("walk_framework.first_launch.step_4.posxml.screen_1.line_6") %>
<%= I18n.t("walk_framework.first_launch.step_4.posxml.screen_1.line_7") %>
<%= I18n.t("walk_framework.first_launch.step_4.posxml.screen_1.line_8") %>
</pre></div>

<p><%= I18n.t("walk_framework.first_launch.step_4.paragraph_2") %></p>

<div class="pos evo"><pre>
<%= I18n.t("walk_framework.first_launch.step_4.posxml.screen_2.line_1") %>
<%= I18n.t("walk_framework.first_launch.step_4.posxml.screen_2.line_2") %>
<%= I18n.t("walk_framework.first_launch.step_4.posxml.screen_2.line_3") %>
<%= I18n.t("walk_framework.first_launch.step_4.posxml.screen_2.line_4") %>
<%= I18n.t("walk_framework.first_launch.step_4.posxml.screen_2.line_5") %>
<%= I18n.t("walk_framework.first_launch.step_4.posxml.screen_2.line_6") %>
<%= I18n.t("walk_framework.first_launch.step_4.posxml.screen_2.line_7") %>
<%= I18n.t("walk_framework.first_launch.step_4.posxml.screen_2.line_8") %>
</pre></div>

<h2 id="integration"><%= I18n.t("walk_framework.first_launch.table_of_contents.integration") %></h2>

<p><%= I18n.t("walk_framework.first_launch.integration.paragraph_1") %></p>

<ul class="pager">
  <li class="next">
    <%= link_to(I18n.t("menu.integration.http") + " &rarr;", "integration/http") %>
  </li>
</ul>
