<% content_for :docs_description do %>
  <meta name="docs:description" content="<%= I18n.t('posxml.useful_functions.description') %>">
<% end %>

<h1><%= I18n.t("posxml.useful_functions.title") %></h1>

<ol class="table-of-contents">
  <li><a href="#cpf-validation"><%= I18n.t("posxml.useful_functions.table_of_contents.cpf_validation") %></a></li>
  <li><a href="#hide-credit-card-number"><%= I18n.t("posxml.useful_functions.table_of_contents.hide_credit_card_number") %></a></li>
  <li><a href="#center-text"><%= I18n.t("posxml.useful_functions.table_of_contents.center_text") %></a></li>
</ol>

<p><%= I18n.t('posxml.useful_functions.introduction') %></p>

<p class="note"><%= I18n.t('posxml.useful_functions.paragraph_1') %></p>

<h2 id="cpf-validation"><%= I18n.t("posxml.useful_functions.table_of_contents.cpf_validation") %></h2>

<p><%= I18n.t("posxml.useful_functions.cpf_validation.paragraph_1") %></p>

<p><%= I18n.t("author") %>: <a href="https://github.com/gustavofernandesn">Gustavo Fernandes</a></p>

<%= embed_posxml_code("2c6ceae514e2c36781c7") %>

<h2 id="hide-credit-card-number"><%= I18n.t("posxml.useful_functions.table_of_contents.hide_credit_card_number") %></h2>

<p><%= I18n.t("posxml.useful_functions.hide_credit_card_number.paragraph_1") %></p>

<p><%= I18n.t("author") %>: <a href="https://github.com/gabrielbernal">Gabriel Bernal</a></p>

<%= embed_posxml_code("40a0a5415411fffff5cf") %>

<h2 id="center-text"><%= I18n.t("posxml.useful_functions.table_of_contents.center_text") %></h2>

<p><%= I18n.t("posxml.useful_functions.center_text.paragraph_1") %></p>

<p><%= I18n.t("author") %>: <a href="https://github.com/gabrielbernal">Gabriel Bernal</a></p>

<%= embed_posxml_code("6a887e2a31c8d6f0ec9c") %>
