<% content_for :docs_description do %>
  <meta name="docs:description" content="<%= I18n.t('introduction.cli.description') %>">
<% end %>

<h1><%= I18n.t("introduction.cli.title") %></h1>

<ol class="table-of-contents">
  <li><a href="#overview"><%= I18n.t("introduction.cli.table_of_contents.overview") %></a></li>
  <li><a href="#command-line-interface"><%= I18n.t("introduction.cli.table_of_contents.command_line_interface") %></a></li>
  <li><a href="#ruby-framework-api"><%= I18n.t("introduction.cli.table_of_contents.ruby_framework_api") %></a></li>
  <li><a href="#skeleton"><%= I18n.t("introduction.cli.table_of_contents.skeleton") %></a></li>
  <li><a href="#mruby"><%= I18n.t("introduction.cli.table_of_contents.mruby") %></a></li>
</ol>

<h2 id="overview"><%= I18n.t("introduction.cli.table_of_contents.overview") %></h2>

<p><%= I18n.t("introduction.cli.overview.paragraph_1") %></p>

<h2 id="command-line-interface"><%= I18n.t("introduction.cli.table_of_contents.command_line_interface") %></h2>

<p><%= I18n.t("introduction.cli.command_line_interface.paragraph_1") %></p>

<p><%= I18n.t("introduction.cli.command_line_interface.paragraph_2") %></p>

<p><%= I18n.t("introduction.cli.command_line_interface.paragraph_3") %></p>

<h2 id="ruby-framework-api"><%= I18n.t("introduction.cli.table_of_contents.ruby_framework_api") %></h2>

<p><%= I18n.t("introduction.cli.ruby_framework_api.paragraph_1") %></p>

<p><%= I18n.t("introduction.cli.ruby_framework_api.paragraph_2") %></p>

<h2 id="skeleton"><%= I18n.t("introduction.cli.table_of_contents.skeleton") %></h2>

<p><%= I18n.t("introduction.cli.skeleton.paragraph_1") %></p>

<h2 id="mruby"><%= I18n.t("introduction.cli.table_of_contents.mruby") %></h2>

<p><%= I18n.t("introduction.cli.mruby.paragraph_1") %></p>

<ul class="pager">
  <li class="previous">
    <%= link_to("&larr; " + I18n.t("menu.understanding_the_service.ide"), "introduction/ide") %>
  </li>
  <li class="next">
    <%= link_to(I18n.t("menu.understanding_the_service.posxml") + " &rarr;", "introduction/posxml") %>
  </li>
</ul>
