<% content_for :docs_description do %>
  <meta name="docs:description" content="<%= I18n.t('introduction.index.description') %>">
<% end %>

<h1><%= I18n.t("introduction.index.title") %></h1>

<p class="intro"><%= I18n.t("introduction.index.intro") %></p>

<a href="#video-player" data-toggle="modal"><img src="/img/videos/intro.png" alt="CloudWalk" class="video-frame" /></a>

<div id="video-player" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-body">
    <iframe id="player" width="560" height="315" src="https://www.youtube.com/embed/BGLJpc_PuKg?rel=0&amp;enablejsapi=1" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<h2><%= I18n.t("introduction.index.table_of_contents.getting_started") %></h2>

<p><%= I18n.t("introduction.index.getting_started.paragraph_1") %></p>

<%= toc_header(I18n.t("introduction.index.getting_started.h3_1")) %>

<p><%= I18n.t("introduction.index.getting_started.paragraph_2") %></p>

<p><%= I18n.t("introduction.index.getting_started.paragraph_3") %></p>

<%= toc_header(I18n.t("introduction.index.getting_started.h3_2")) %>

<p><%= I18n.t("introduction.index.getting_started.paragraph_4") %></p>

<p><%= I18n.t("introduction.index.getting_started.paragraph_5") %></p>

<p><%= I18n.t("introduction.index.getting_started.paragraph_6") %></p>

<pre><strong><%= I18n.t("introduction.index.getting_started.form.application_type_lbl") %></strong> <%= I18n.t("introduction.index.getting_started.form.application_type_val") %>

<strong><%= I18n.t("introduction.index.getting_started.form.application_name_lbl") %></strong> <%= I18n.t("introduction.index.getting_started.form.application_name_val") %>
     <strong><%= I18n.t("introduction.index.getting_started.form.description_lbl") %></strong> <%= I18n.t("introduction.index.getting_started.form.description_val") %>
           <strong><%= I18n.t("introduction.index.getting_started.form.label_lbl") %></strong> <%= I18n.t("introduction.index.getting_started.form.label_val") %>
      <strong><%= I18n.t("introduction.index.getting_started.form.endpoint_lbl") %></strong> <%= I18n.t("introduction.index.getting_started.form.endpoint_val") %>
</pre>

<%= toc_header(I18n.t("introduction.index.getting_started.h3_3")) %>

<p><%= I18n.t("introduction.index.getting_started.paragraph_7") %></p>

<script src="https://gist.github.com/posxml/61c7f65578138ea5172a.js"></script>

<%= toc_header(I18n.t("introduction.index.getting_started.h3_4")) %>

<p><%= I18n.t("introduction.index.getting_started.paragraph_8") %></p>

<p><%= I18n.t("introduction.index.getting_started.paragraph_9") %></p>

<ul class="pager">
  <li class="next">
    <%= link_to(I18n.t("menu.understanding_the_service.framework") + " &rarr;", "introduction/framework") %>
  </li>
</ul>

<% content_for :javascripts do %>
  $('#video-player').on('show', function () {
    document.getElementById('player').contentWindow.postMessage('{"event":"command","func":"playVideo","args":""}', '*');
  });
  $('#video-player').on('hidden', function () {
    document.getElementById('player').contentWindow.postMessage('{"event":"command","func":"pauseVideo","args":""}', '*');
  });
<% end %>
