<ul>
  <li><strong><%= I18n.t("framework.communication.ethernet.name") %>:</strong> <%= I18n.t("framework.communication.paragraph_1") %></li>
  <li><strong><%= I18n.t("framework.communication.ppp.name") %>:</strong> <%= I18n.t("framework.communication.paragraph_2") %></li>
  <li><strong><%= I18n.t("framework.communication.sdlc.name") %>:</strong> <%= I18n.t("framework.communication.paragraph_3") %></li>
  <li><strong><%= I18n.t("framework.communication.gprs.name") %>:</strong> GPRS (Claro, Tim, Oi, etc)</li>
  <li><strong><%= I18n.t("framework.communication.wifi.name") %>:</strong> WIFI (wireless)</li>
</ul>

<p class="note"><%= I18n.t("framework.communication.paragraph_4") %></p>

<h3><%= I18n.t("framework.communication.paragraph_5") %></h3>

<p><%= I18n.t("framework.communication.paragraph_6") %></p>

<br/>

<ul id="communication-tab" class="nav nav-tabs">
  <li class="active"><a href="#communication-tab1"><%= I18n.t("framework.communication.ethernet.name") %></a></li>
  <li><a href="#communication-tab2"><%= I18n.t("framework.communication.ppp.name") %></a></li>
  <li><a href="#communication-tab3"><%= I18n.t("framework.communication.sdlc.name") %></a></li>
  <li><a href="#communication-tab4"><%= I18n.t("framework.communication.gprs.name") %></a></li>
  <li><a href="#communication-tab5"><%= I18n.t("framework.communication.wifi.name") %></a></li>
</ul>

<div class="tab-content">
<div class="tab-pane active" id="communication-tab1">
<p><%= I18n.t("framework.communication.ethernet.paragraph_1") %></p>

<div class="pos"><pre>
<%= I18n.t("framework.communication.ethernet.posxml.screen_1.line_1") %>
<%= I18n.t("framework.communication.ethernet.posxml.screen_1.line_2") %>
<%= I18n.t("framework.communication.ethernet.posxml.screen_1.line_3") %>
<%= I18n.t("framework.communication.ethernet.posxml.screen_1.line_4") %>
<%= I18n.t("framework.communication.ethernet.posxml.screen_1.line_5") %>
<%= I18n.t("framework.communication.ethernet.posxml.screen_1.line_6") %>
<%= I18n.t("framework.communication.ethernet.posxml.screen_1.line_7") %>
<%= I18n.t("framework.communication.ethernet.posxml.screen_1.line_8") %>
</pre></div>

<p><%= I18n.t("framework.communication.ethernet.paragraph_2") %></p>

<div class="pos"><pre>
<%= I18n.t("framework.communication.ethernet.posxml.screen_2.line_1") %>
<%= I18n.t("framework.communication.ethernet.posxml.screen_2.line_2") %>
<%= I18n.t("framework.communication.ethernet.posxml.screen_2.line_3") %>
<%= I18n.t("framework.communication.ethernet.posxml.screen_2.line_4") %>
<%= I18n.t("framework.communication.ethernet.posxml.screen_2.line_5") %>
<%= I18n.t("framework.communication.ethernet.posxml.screen_2.line_6") %>
<%= I18n.t("framework.communication.ethernet.posxml.screen_2.line_7") %>
<%= I18n.t("framework.communication.ethernet.posxml.screen_2.line_8") %>
</pre></div>

<p><%= I18n.t("framework.communication.ethernet.paragraph_3") %></p>

<div class="pos"><pre>
<%= I18n.t("framework.communication.ethernet.posxml.screen_3.line_1") %>
<%= I18n.t("framework.communication.ethernet.posxml.screen_3.line_2") %>
<%= I18n.t("framework.communication.ethernet.posxml.screen_3.line_3") %>
<%= I18n.t("framework.communication.ethernet.posxml.screen_3.line_4") %>
<%= I18n.t("framework.communication.ethernet.posxml.screen_3.line_5") %>
<%= I18n.t("framework.communication.ethernet.posxml.screen_3.line_6") %>
<%= I18n.t("framework.communication.ethernet.posxml.screen_3.line_7") %>
<%= I18n.t("framework.communication.ethernet.posxml.screen_3.line_8") %>
</pre></div>

<p><%= I18n.t("framework.communication.ethernet.paragraph_4") %></p>

<div class="pos"><pre>
<%= I18n.t("framework.communication.ethernet.posxml.screen_4.line_1") %>
<%= I18n.t("framework.communication.ethernet.posxml.screen_4.line_2") %>
<%= I18n.t("framework.communication.ethernet.posxml.screen_4.line_3") %>
<%= I18n.t("framework.communication.ethernet.posxml.screen_4.line_4") %>
<%= I18n.t("framework.communication.ethernet.posxml.screen_4.line_5") %>
<%= I18n.t("framework.communication.ethernet.posxml.screen_4.line_6") %>
<%= I18n.t("framework.communication.ethernet.posxml.screen_4.line_7") %>
<%= I18n.t("framework.communication.ethernet.posxml.screen_4.line_8") %>
</pre></div>

<p><%= I18n.t("framework.communication.ethernet.paragraph_5") %></p>

<div class="pos"><pre>
<%= I18n.t("framework.communication.ethernet.posxml.screen_5.line_1") %>
<%= I18n.t("framework.communication.ethernet.posxml.screen_5.line_2") %>
<%= I18n.t("framework.communication.ethernet.posxml.screen_5.line_3") %>
<%= I18n.t("framework.communication.ethernet.posxml.screen_5.line_4") %>
<%= I18n.t("framework.communication.ethernet.posxml.screen_5.line_5") %>
<%= I18n.t("framework.communication.ethernet.posxml.screen_5.line_6") %>
<%= I18n.t("framework.communication.ethernet.posxml.screen_5.line_7") %>
<%= I18n.t("framework.communication.ethernet.posxml.screen_5.line_8") %>
</pre></div>

<p><%= I18n.t("framework.communication.ssl.paragraph_1", :num => "6") %></p>

<div class="pos"><pre>
<%= I18n.t("framework.communication.ssl.posxml.screen_1.line_1", :media => I18n.t("framework.communication.ethernet.media")) %>
<%= I18n.t("framework.communication.ssl.posxml.screen_1.line_2") %>
<%= I18n.t("framework.communication.ssl.posxml.screen_1.line_3") %>
<%= I18n.t("framework.communication.ssl.posxml.screen_1.line_4") %>
<%= I18n.t("framework.communication.ssl.posxml.screen_1.line_5") %>
<%= I18n.t("framework.communication.ssl.posxml.screen_1.line_6") %>
<%= I18n.t("framework.communication.ssl.posxml.screen_1.line_7") %>
<%= I18n.t("framework.communication.ssl.posxml.screen_1.line_8") %>
</pre></div>
</div>

<div class="tab-pane" id="communication-tab2">
<p><%= I18n.t("framework.communication.ppp.paragraph_1") %></p>

<div class="pos"><pre>
<%= I18n.t("framework.communication.ppp.posxml.screen_1.line_1") %>
<%= I18n.t("framework.communication.ppp.posxml.screen_1.line_2") %>
<%= I18n.t("framework.communication.ppp.posxml.screen_1.line_3") %>
<%= I18n.t("framework.communication.ppp.posxml.screen_1.line_4") %>
<%= I18n.t("framework.communication.ppp.posxml.screen_1.line_5") %>
<%= I18n.t("framework.communication.ppp.posxml.screen_1.line_6") %>
<%= I18n.t("framework.communication.ppp.posxml.screen_1.line_7") %>
<%= I18n.t("framework.communication.ppp.posxml.screen_1.line_8") %>
</pre></div>

<p><%= I18n.t("framework.communication.ppp.paragraph_2") %></p>

<div class="pos"><pre>
<%= I18n.t("framework.communication.ppp.posxml.screen_2.line_1") %>
<%= I18n.t("framework.communication.ppp.posxml.screen_2.line_2") %>
<%= I18n.t("framework.communication.ppp.posxml.screen_2.line_3") %>
<%= I18n.t("framework.communication.ppp.posxml.screen_2.line_4") %>
<%= I18n.t("framework.communication.ppp.posxml.screen_2.line_5") %>
<%= I18n.t("framework.communication.ppp.posxml.screen_2.line_6") %>
<%= I18n.t("framework.communication.ppp.posxml.screen_2.line_7") %>
<%= I18n.t("framework.communication.ppp.posxml.screen_2.line_8") %>
</pre></div>

<p><%= I18n.t("framework.communication.ppp.paragraph_3") %></p>

<div class="pos"><pre>
<%= I18n.t("framework.communication.ppp.posxml.screen_3.line_1") %>
<%= I18n.t("framework.communication.ppp.posxml.screen_3.line_2") %>
<%= I18n.t("framework.communication.ppp.posxml.screen_3.line_3") %>
<%= I18n.t("framework.communication.ppp.posxml.screen_3.line_4") %>
<%= I18n.t("framework.communication.ppp.posxml.screen_3.line_5") %>
<%= I18n.t("framework.communication.ppp.posxml.screen_3.line_6") %>
<%= I18n.t("framework.communication.ppp.posxml.screen_3.line_7") %>
<%= I18n.t("framework.communication.ppp.posxml.screen_3.line_8") %>
</pre></div>

<p><%= I18n.t("framework.communication.ppp.paragraph_4") %></p>

<div class="pos"><pre>
<%= I18n.t("framework.communication.ppp.posxml.screen_4.line_1") %>
<%= I18n.t("framework.communication.ppp.posxml.screen_4.line_2") %>
<%= I18n.t("framework.communication.ppp.posxml.screen_4.line_3") %>
<%= I18n.t("framework.communication.ppp.posxml.screen_4.line_4") %>
<%= I18n.t("framework.communication.ppp.posxml.screen_4.line_5") %>
<%= I18n.t("framework.communication.ppp.posxml.screen_4.line_6") %>
<%= I18n.t("framework.communication.ppp.posxml.screen_4.line_7") %>
<%= I18n.t("framework.communication.ppp.posxml.screen_4.line_8") %>
</pre></div>

<p><%= I18n.t("framework.communication.ssl.paragraph_1", :num => "5") %></p>

<div class="pos"><pre>
<%= I18n.t("framework.communication.ssl.posxml.screen_1.line_1", :media => I18n.t("framework.communication.ppp.media")) %>
<%= I18n.t("framework.communication.ssl.posxml.screen_1.line_2") %>
<%= I18n.t("framework.communication.ssl.posxml.screen_1.line_3") %>
<%= I18n.t("framework.communication.ssl.posxml.screen_1.line_4") %>
<%= I18n.t("framework.communication.ssl.posxml.screen_1.line_5") %>
<%= I18n.t("framework.communication.ssl.posxml.screen_1.line_6") %>
<%= I18n.t("framework.communication.ssl.posxml.screen_1.line_7") %>
<%= I18n.t("framework.communication.ssl.posxml.screen_1.line_8") %>
</pre></div>
</div>

<div class="tab-pane" id="communication-tab3">
<p><%= I18n.t("framework.communication.sdlc.paragraph_1") %></p>

<div class="pos"><pre>
<%= I18n.t("framework.communication.sdlc.posxml.screen_1.line_1") %>
<%= I18n.t("framework.communication.sdlc.posxml.screen_1.line_2") %>
<%= I18n.t("framework.communication.sdlc.posxml.screen_1.line_3") %>
<%= I18n.t("framework.communication.sdlc.posxml.screen_1.line_4") %>
<%= I18n.t("framework.communication.sdlc.posxml.screen_1.line_5") %>
<%= I18n.t("framework.communication.sdlc.posxml.screen_1.line_6") %>
<%= I18n.t("framework.communication.sdlc.posxml.screen_1.line_7") %>
<%= I18n.t("framework.communication.sdlc.posxml.screen_1.line_8") %>
</pre></div>

<p><%= I18n.t("framework.communication.sdlc.paragraph_2") %></p>

<div class="pos"><pre>
<%= I18n.t("framework.communication.sdlc.posxml.screen_2.line_1") %>
<%= I18n.t("framework.communication.sdlc.posxml.screen_2.line_2") %>
<%= I18n.t("framework.communication.sdlc.posxml.screen_2.line_3") %>
<%= I18n.t("framework.communication.sdlc.posxml.screen_2.line_4") %>
<%= I18n.t("framework.communication.sdlc.posxml.screen_2.line_5") %>
<%= I18n.t("framework.communication.sdlc.posxml.screen_2.line_6") %>
<%= I18n.t("framework.communication.sdlc.posxml.screen_2.line_7") %>
<%= I18n.t("framework.communication.sdlc.posxml.screen_2.line_8") %>
</pre></div>

<p><%= I18n.t("framework.communication.ssl.paragraph_1", :num => "3") %></p>

<div class="pos"><pre>
<%= I18n.t("framework.communication.ssl.posxml.screen_1.line_1", :media => I18n.t("framework.communication.sdlc.media")) %>
<%= I18n.t("framework.communication.ssl.posxml.screen_1.line_2") %>
<%= I18n.t("framework.communication.ssl.posxml.screen_1.line_3") %>
<%= I18n.t("framework.communication.ssl.posxml.screen_1.line_4") %>
<%= I18n.t("framework.communication.ssl.posxml.screen_1.line_5") %>
<%= I18n.t("framework.communication.ssl.posxml.screen_1.line_6") %>
<%= I18n.t("framework.communication.ssl.posxml.screen_1.line_7") %>
<%= I18n.t("framework.communication.ssl.posxml.screen_1.line_8") %>
</pre></div>
</div>

<div class="tab-pane" id="communication-tab4">
<p><%= I18n.t("framework.communication.gprs.paragraph_1") %></p>

<div class="pos"><pre>
<%= I18n.t("framework.communication.gprs.posxml.screen_1.line_1") %>
<%= I18n.t("framework.communication.gprs.posxml.screen_1.line_2") %>
<%= I18n.t("framework.communication.gprs.posxml.screen_1.line_3") %>
<%= I18n.t("framework.communication.gprs.posxml.screen_1.line_4") %>
<%= I18n.t("framework.communication.gprs.posxml.screen_1.line_5") %>
<%= I18n.t("framework.communication.gprs.posxml.screen_1.line_6") %>
<%= I18n.t("framework.communication.gprs.posxml.screen_1.line_7") %>
<%= I18n.t("framework.communication.gprs.posxml.screen_1.line_8") %>
</pre></div>

<p><%= I18n.t("framework.communication.ssl.paragraph_1", :num => "2") %></p>

<div class="pos"><pre>
<%= I18n.t("framework.communication.ssl.posxml.screen_1.line_1", :media => I18n.t("framework.communication.gprs.media")) %>
<%= I18n.t("framework.communication.ssl.posxml.screen_1.line_2") %>
<%= I18n.t("framework.communication.ssl.posxml.screen_1.line_3") %>
<%= I18n.t("framework.communication.ssl.posxml.screen_1.line_4") %>
<%= I18n.t("framework.communication.ssl.posxml.screen_1.line_5") %>
<%= I18n.t("framework.communication.ssl.posxml.screen_1.line_6") %>
<%= I18n.t("framework.communication.ssl.posxml.screen_1.line_7") %>
<%= I18n.t("framework.communication.ssl.posxml.screen_1.line_8") %>
</pre></div>
</div>

<div class="tab-pane" id="communication-tab5">
<p><%= I18n.t("framework.communication.wifi.paragraph_1") %></p>

<div class="pos"><pre>
<%= I18n.t("framework.communication.wifi.posxml.screen_1.line_1") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_1.line_2") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_1.line_3") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_1.line_4") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_1.line_5") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_1.line_6") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_1.line_7") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_1.line_8") %>
</pre></div>

<p><%= I18n.t("framework.communication.wifi.paragraph_2") %></p>

<div class="pos"><pre>
<%= I18n.t("framework.communication.wifi.posxml.screen_2.line_1") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_2.line_2") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_2.line_3") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_2.line_4") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_2.line_5") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_2.line_6") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_2.line_7") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_2.line_8") %>
</pre></div>

<p><%= I18n.t("framework.communication.wifi.paragraph_3") %></p>

<div class="pos"><pre>
<%= I18n.t("framework.communication.wifi.posxml.screen_3.line_1") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_3.line_2") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_3.line_3") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_3.line_4") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_3.line_5") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_3.line_6") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_3.line_7") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_3.line_8") %>
</pre></div>

<p><%= I18n.t("framework.communication.wifi.paragraph_4") %></p>

<div class="pos"><pre>
<%= I18n.t("framework.communication.wifi.posxml.screen_4.line_1") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_4.line_2") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_4.line_3") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_4.line_4") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_4.line_5") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_4.line_6") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_4.line_7") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_4.line_8") %>
</pre></div>

<p><%= I18n.t("framework.communication.wifi.paragraph_5") %></p>

<div class="pos"><pre>
<%= I18n.t("framework.communication.wifi.posxml.screen_5.line_1") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_5.line_2") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_5.line_3") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_5.line_4") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_5.line_5") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_5.line_6") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_5.line_7") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_5.line_8") %>
</pre></div>

<p><%= I18n.t("framework.communication.wifi.paragraph_6") %></p>

<div class="pos"><pre>
<%= I18n.t("framework.communication.wifi.posxml.screen_6.line_1") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_6.line_2") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_6.line_3") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_6.line_4") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_6.line_5") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_6.line_6") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_6.line_7") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_6.line_8") %>
</pre></div>

<p><%= I18n.t("framework.communication.wifi.paragraph_7") %></p>

<div class="pos"><pre>
<%= I18n.t("framework.communication.wifi.posxml.screen_7.line_1") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_7.line_2") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_7.line_3") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_7.line_4") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_7.line_5") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_7.line_6") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_7.line_7") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_7.line_8") %>
</pre></div>

<p><%= I18n.t("framework.communication.wifi.paragraph_8") %></p>

<div class="pos"><pre>
<%= I18n.t("framework.communication.wifi.posxml.screen_8.line_1") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_8.line_2") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_8.line_3") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_8.line_4") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_8.line_5") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_8.line_6") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_8.line_7") %>
<%= I18n.t("framework.communication.wifi.posxml.screen_8.line_8") %>
</pre></div>

<p><%= I18n.t("framework.communication.ssl.paragraph_1", :num => "9") %></p>

<div class="pos"><pre>
<%= I18n.t("framework.communication.ssl.posxml.screen_1.line_1", :media => I18n.t("framework.communication.wifi.media")) %>
<%= I18n.t("framework.communication.ssl.posxml.screen_1.line_2") %>
<%= I18n.t("framework.communication.ssl.posxml.screen_1.line_3") %>
<%= I18n.t("framework.communication.ssl.posxml.screen_1.line_4") %>
<%= I18n.t("framework.communication.ssl.posxml.screen_1.line_5") %>
<%= I18n.t("framework.communication.ssl.posxml.screen_1.line_6") %>
<%= I18n.t("framework.communication.ssl.posxml.screen_1.line_7") %>
<%= I18n.t("framework.communication.ssl.posxml.screen_1.line_8") %>
</pre></div>
</div>
</div>

<% content_for :javascripts do %>
  $('#communication-tab a:first').tab('show');
  $('#communication-tab a').click(function (e) { e.preventDefault(); $(this).tab('show'); });
<% end %>
