<% content_for :docs_description do %>
  <meta name="docs:description" content="<%= I18n.t('framework.verifone_verix.description') %>">
<% end %>

<h1><%= I18n.t("framework.verifone_verix.title") %></h1>

<ol class="table-of-contents">
  <li><a href="#pre-requisites"><%= I18n.t("framework.verifone_verix.table_of_contents.prerequisites") %></a></li>
  <li><a href="#identify-os"><%= I18n.t("framework.verifone_verix.table_of_contents.identify_os") %></a></li>
  <li><a href="#preparing-the-pos"><%= I18n.t("framework.verifone_verix.table_of_contents.preparing_the_device") %></a></li>
  <li><a href="#wiping-the-pos"><%= I18n.t("framework.verifone_verix.table_of_contents.wiping_the_device") %></a></li>
  <li><a href="#loading-the-framework"><%= I18n.t("framework.verifone_verix.table_of_contents.loading_the_framework") %></a></li>
  <li><a href="#first-launch"><%= I18n.t("framework.first_launch.title") %></a></li>
</ol>

<p><%= I18n.t("framework.verifone_verix.introduction") %></p>

<h2 id="pre-requisites"><%= I18n.t("framework.verifone_verix.table_of_contents.prerequisites") %></h2>

<ol>
  <li><%= I18n.t("framework.verifone_verix.prerequisites.operating_system") %></li>
  <li><%= I18n.t("framework.verifone_verix.prerequisites.cable") %></li>
  <li><%= I18n.t("framework.verifone_verix.prerequisites.serial_port") %></li>
  <li><%= I18n.t("framework.package.select") %></li>
</ol>

<%= partial :'framework/package', :locals => { :device_brand => "verifone", :device_model => "verix", :device_interface => "default", :device_signature => "none" } %>

<h2 id="identify-os"><%= I18n.t("framework.verifone_verix.table_of_contents.identify_os") %></h2>

<p><%= I18n.t("framework.verifone_verix.identify_os.paragraph_1") %></p>

<div class="pos evo">
<pre>
    VERIFONE 05150
       QA0006A3
   11/03/2005 Verix
*DEFAULT CERTIFICATE*
 COPYRIGHT 1997-2005
      VERIFONE
 ALL RIGHTS RESERVED
</pre>
</div>

<p><%= I18n.t("framework.verifone_verix.identify_os.paragraph_2") %></p>

<p><%= I18n.t("framework.verifone_verix.identify_os.paragraph_3") %></p>

<table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th><%= I18n.t("framework.verifone_verix.identify_os.pos_model") %></th>
      <th><%= I18n.t("framework.verifone_verix.identify_os.os_version") %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Vx 510</td>
      <td>QA0012A2</td>
    </tr>
    <tr>
      <td>Vx 510 GPRS</td>
      <td>QJ0012A0</td>
    </tr>
    <tr>
      <td>Vx 610</td>
      <td>QB0111A3</td>
    </tr>
    <tr>
      <td>Vx 670</td>
      <td>QD0012A5</td>
    </tr>
  </tbody>
</table>

<h2 id="preparing-the-pos"><%= I18n.t("framework.verifone_verix.table_of_contents.preparing_the_device") %></h2>

<p><%= I18n.t("framework.verifone_verix.preparing_the_device.paragraph_1") %></p>

<p class="note"><%= I18n.t("framework.verifone_verix.preparing_the_device.paragraph_2") %></p>

<p><%= I18n.t("framework.verifone_verix.preparing_the_device.paragraph_3") %></p>

<img src="/img/verifone-verix/verifone-vx510-rs232.jpg" class="img-tutorial img-polaroid" alt="Verifone Verix vx510 RS232" />

<p><strong><%= I18n.t("framework.verifone_verix.preparing_the_device.paragraph_4") %></strong></p>

<p><%= I18n.t("framework.verifone_verix.preparing_the_device.paragraph_5") %></p>

<p><%= I18n.t("framework.verifone_verix.preparing_the_device.paragraph_6") %></p>

<h2 id="wiping-the-pos"><%= I18n.t("framework.verifone_verix.table_of_contents.wiping_the_device") %></h2>

<p><%= I18n.t("framework.verifone_verix.wiping_the_device.paragraph_1") %></p>

<div class="pos evo">
<pre>
SYSTEM MODE ENTRY
PASSWORD
******____
</pre>
</div>

<p><%= I18n.t("framework.verifone_verix.wiping_the_device.paragraph_2") %></p>

<p class="note"><%= I18n.t("framework.verifone_verix.wiping_the_device.paragraph_3") %></p>

<p><%= I18n.t("framework.verifone_verix.wiping_the_device.paragraph_4") %></p>

<div class="pos evo">
<pre>
SYS MODE MENU 1

          CONTRAST F2

             CLOCK F3

           RESTART F4
       ↓
</pre>
</div>

<p><%= I18n.t("framework.verifone_verix.wiping_the_device.paragraph_5") %></p>

<div class="pos evo">
<pre>
SYS MODE MENU 2

          DOWNLOAD F2

         RAM FILES F3

       FLASH FILES F4
↑      ↓
</pre>
</div>

<p><%= I18n.t("framework.verifone_verix.wiping_the_device.paragraph_6") %></p>

<div class="pos evo">
<pre>
SYS MODE FILE

FILE GROUP _1
</pre>
</div>

<p><%= I18n.t("framework.verifone_verix.wiping_the_device.paragraph_7") %></p>

<div class="pos evo">
<pre>
SYSTEM MODE ENTRY
PASSWORD
******____
</pre>
</div>

<p><%= I18n.t("framework.verifone_verix.wiping_the_device.paragraph_8") %></p>

<p><%= I18n.t("framework.verifone_verix.wiping_the_device.paragraph_9") %></p>

<div class="pos evo">
<pre>
SYS MODE DOWNLOAD  G1



              FULL F3

           PARTIAL F4
↑
</pre>
</div>

<p><%= I18n.t("framework.verifone_verix.wiping_the_device.paragraph_10") %></p>

<div class="pos evo">
<pre>
SYS MODE DOWNLOAD  G1

             MODEM F2

              COM1 F3

             TCPIP F4
↑      ↓
</pre>
</div>

<p><%= I18n.t("framework.verifone_verix.wiping_the_device.paragraph_11") %></p>

<div class="pos evo">
<pre>
SYS MODE DOWNLOAD  G1

 DOWNLOADING NOW
</pre>
</div>

<p><%= I18n.t("framework.verifone_verix.wiping_the_device.paragraph_12") %></p>

<p><%= I18n.t("framework.verifone_verix.wiping_the_device.paragraph_13") %></p>

<img src="/img/wiping-pos.jpg" class="img-tutorial img-polaroid" alt="Wiping the POS data" />

<p><%= I18n.t("framework.verifone_verix.wiping_the_device.paragraph_14") %></p>

<p><%= I18n.t("framework.verifone_verix.wiping_the_device.paragraph_15") %></p>

<p><%= I18n.t("framework.verifone_verix.wiping_the_device.paragraph_16") %></p>

<div class="pos evo">
<pre>
DOWNLOAD NEEDED

NO *GO VARIABLE
</pre>
</div>

<p><%= I18n.t("framework.verifone_verix.wiping_the_device.paragraph_17") %></p>

<h2 id="loading-the-framework"><%= I18n.t("framework.verifone_verix.table_of_contents.loading_the_framework") %></h2>

<p><%= I18n.t("framework.verifone_verix.loading_the_framework.paragraph_1") %></p>

<p><%= I18n.t("framework.verifone_verix.loading_the_framework.paragraph_2") %></p>

<img src="/img/verifone-verix/loading-the-framework.png" class="img-tutorial img-polaroid" alt="Loading the Framework on the POS" />

<p><%= I18n.t("framework.verifone_verix.loading_the_framework.paragraph_3") %></p>

<p><%= I18n.t("framework.verifone_verix.loading_the_framework.paragraph_4") %></p>

<div class="pos evo">
<pre>
SYS MODE DOWNLOAD
*****-----
DOWNLOADING NOW
</pre>
</div>

<p><%= I18n.t("framework.verifone_verix.loading_the_framework.paragraph_5") %></p>

<h2 id="first-launch"><%= I18n.t("framework.first_launch.title") %></h2>

<p><%= I18n.t("framework.first_launch.after_install") %></p>

<ul class="pager">
  <li class="next">
    <%= link_to(I18n.t("menu.framework.first_launch") + " &rarr;", "framework/first-launch") %>
  </li>
</ul>
