<% content_for :docs_description do %>
  <meta name="docs:description" content="<%= I18n.t("guides.transactions_patterns.advanced_settings.description") %>">
<% end %>

<h1><%= I18n.t("guides.transactions_patterns.advanced_settings.title") %></h1>

<p><%= I18n.t("guides.transactions_patterns.advanced_settings.paragraph_1") %></p>

<%= I18n.t("guides.transactions_patterns.advanced_settings.image_1") %>

<p><%= I18n.t("guides.transactions_patterns.advanced_settings.paragraph_2") %></p>

<p><%= I18n.t("guides.transactions_patterns.advanced_settings.paragraph_3") %></p>

<ul class="pager">
  <li class="previous">
    <%= link_to("&larr; " + I18n.t("guides.transactions_patterns.advanced_settings.previous"), "guides/transactions-patterns/patterns-chart") %>
  </li>
  <li class="next">
    <%= link_to(I18n.t("guides.transactions_patterns.advanced_settings.next") + " &rarr;", "guides/transactions-patterns/notifications-settings") %>
  </li>
</ul>
