<% content_for :docs_description do %>
  <meta name="docs:description" content="Tutorial for logs patterns and anomalies">
<% end %>

<h1><%= I18n.t("guides.transactions_patterns.anomalies_report.title") %></h1>

<p class="more-info"><%= I18n.t("general.updated_at", :date => "16/09/2014") %></p>

<p><%= I18n.t("guides.transactions_patterns.anomalies_report.paragraph_1") %></p>

<%= I18n.t("guides.transactions_patterns.anomalies_report.image_1") %>

<p><%= I18n.t("guides.transactions_patterns.anomalies_report.paragraph_2") %></p>

<p><%= I18n.t("guides.transactions_patterns.anomalies_report.paragraph_3") %></p>

<p><%= I18n.t("guides.transactions_patterns.anomalies_report.paragraph_4") %></p>

<%= I18n.t("guides.transactions_patterns.anomalies_report.image_2") %>

<p><%= I18n.t("guides.transactions_patterns.anomalies_report.paragraph_5") %></p>

<ul class="pager">
  <li class="previous">
    <%= link_to("&larr; " + I18n.t("guides.transactions_patterns.anomalies_report.previous"), "guides/logs-patterns/overview") %>
  </li>
  <li class="next">
    <%= link_to(I18n.t("guides.transactions_patterns.anomalies_report.next") + " &rarr;", "guides/logs-patterns/patterns-chart") %>
  </li>
</ul>
