<% content_for :docs_description do %>
  <meta name="docs:description" content="<%= I18n.t('integration.advanced_http.description') %>">
<% end %>

<h1><%= I18n.t("integration.advanced_http.title") %></h1>

<ol class="table-of-contents">
  <li><a href="#introduction"><%= I18n.t("integration.advanced_http.table_of_contents.introduction") %></a></li>
  <li><a href="#http-samples"><%= I18n.t("integration.advanced_http.table_of_contents.http_samples") %></a></li>
  <li><a href="#posxml-sample"><%= I18n.t("integration.advanced_http.table_of_contents.posxml_sample") %></a></li>
</ol>

<h2 id="introduction"><%= I18n.t("integration.advanced_http.table_of_contents.introduction") %></h2>

<p><%= I18n.t("integration.advanced_http.introduction.paragraph_1") %></p>

<pre><code>POST / buf=0123456789&anotherVariable=ABCDEF</code></pre>

<p><%= I18n.t("integration.advanced_http.introduction.paragraph_2") %></p>

<p><%= I18n.t("integration.advanced_http.introduction.paragraph_3") %></p>

<h2 id="http-samples"><%= I18n.t("integration.advanced_http.table_of_contents.http_samples") %></h2>

<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th><%= I18n.t("integration.advanced_http.http_samples.http_verb") %></th>
      <th><%= I18n.t("integration.advanced_http.http_samples.path") %></th>
      <th><%= I18n.t("integration.advanced_http.http_samples.variables") %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>POST</td>
      <td>/</td>
      <td>buf=0123456789&anotherVariable=ABCDEF</td>
    </tr>
    <tr>
      <td>POST</td>
      <td>/index.php</td>
      <td>foo=1&bar=2</td>
    </tr>
    <tr>
      <td>GET</td>
      <td>/list.asp</td>
      <td>id=123</td>
    </tr>
    <tr>
      <td>GET</td>
      <td>/</td>
      <td></td>
    </tr>
    <tr>
      <td>DELETE</td>
      <td>/products/28</td>
      <td></td>
    </tr>
  </tbody>
</table>

<h2 id="posxml-sample"><%= I18n.t("integration.advanced_http.table_of_contents.posxml_sample") %></h2>

<p><%= I18n.t("integration.advanced_http.posxml_sample.paragraph_1") %></p>

<%= embed_posxml_code("c1a5e9bd3f60fc1856d9") %>
