<% content_for :docs_description do %>
  <meta name="docs:description" content="<%= I18n.t('integration.http.description') %>">
<% end %>

<h1><%= I18n.t("integration.http.title") %></h1>

<ol class="table-of-contents">
  <li><a href="#understanding-the-comunication"><%= I18n.t("integration.http.table_of_contents.understanding_the_service") %></a></li>
  <li><a href="#sample"><%= I18n.t("integration.http.table_of_contents.sample") %></a></li>
  <li><a href="#pos-setup"><%= I18n.t("integration.http.table_of_contents.pos_setup") %></a></li>
  <li><a href="#ide"><%= I18n.t("integration.http.table_of_contents.ide") %></a></li>
  <li><a href="#walk-manager-setup"><%= I18n.t("integration.http.table_of_contents.walk_manager_setup") %></a></li>
  <li><a href="#testing"><%= I18n.t("integration.http.table_of_contents.testing") %></a></li>
</ol>

<h2 id="understanding-the-comunication"><%= I18n.t("integration.http.table_of_contents.understanding_the_service") %></h2>

<p><%= I18n.t("integration.http.understanding_the_service.paragraph_1") %></p>

<img src="/img/<%= I18n.locale %>/cloudwalk-http.png" alt="CloudWalk" />

<ol>
  <br/>
  <li><%= I18n.t("integration.http.understanding_the_service.list.item_1") %></li>
  <li><%= I18n.t("integration.http.understanding_the_service.list.item_2") %></li>
  <li><%= I18n.t("integration.http.understanding_the_service.list.item_3") %></li>
  <li><%= I18n.t("integration.http.understanding_the_service.list.item_4") %></li>
</ol>

<p class="note"><%= I18n.t("integration.http.understanding_the_service.paragraph_2") %></p>

<h2 id="sample"><%= I18n.t("integration.http.table_of_contents.sample") %></h2>

<p><%= I18n.t("integration.http.sample.paragraph_1") %></p>

<h3><%= I18n.t("integration.http.sample.prerequisites") %></h3>

<ol>
  <li><%= I18n.t("integration.http.sample.list.item_1") %></li>
  <li><%= I18n.t("integration.http.sample.list.item_2") %></li>
  <li><%= I18n.t("integration.http.sample.list.item_3") %></li>
</ol>

<h2 id="pos-setup"><%= I18n.t("integration.http.table_of_contents.pos_setup") %></h2>

<p><%= I18n.t("integration.http.pos_setup.paragraph_1") %></p>

<p class="note"><%= I18n.t("integration.http.pos_setup.paragraph_2", :configuration => I18n.t("walk_framework.configuration.title")) %></p>

<h2 id="ide"><%= I18n.t("integration.http.table_of_contents.ide") %></h2>

<ol>
  <li><%= I18n.t("integration.http.walk_manager_setup.create_application.list.item_1") %></li>
  <li><%= I18n.t("integration.http.walk_manager_setup.create_application.list.item_2") %></li>
  <li><%= I18n.t("integration.http.walk_manager_setup.create_application.list.item_3") %></li>
  <li><%= I18n.t("integration.http.walk_manager_setup.create_application.list.item_4") %></li>
  <li><%= I18n.t("integration.http.walk_manager_setup.create_application.list.item_5") %></li>
  <li><%= I18n.t("integration.http.walk_manager_setup.create_application.list.item_6") %></li>
  <li><%= I18n.t("integration.http.walk_manager_setup.create_application.list.item_7") %></li>
  <li><%= I18n.t("integration.http.walk_manager_setup.create_application.list.item_8") %></li>
  <li><%= I18n.t("integration.http.walk_manager_setup.create_application.list.item_9") %></li>
  <li><%= I18n.t("integration.http.walk_manager_setup.create_application.list.item_10") %></li>
  <li><%= I18n.t("integration.http.walk_manager_setup.create_application.list.item_11") %></li>
</ol>

<%= embed_posxml_code("907133b0ea74f6c10387") %>

<h2 id="walk-manager-setup"><%= I18n.t("integration.http.table_of_contents.walk_manager_setup") %></h2>

<p><%= I18n.t("integration.http.walk_manager_setup.paragraph_1") %></p>

<h3><%= I18n.t("integration.http.walk_manager_setup.create_group.header") %></h3>

<ol>
  <li><%= I18n.t("integration.http.walk_manager_setup.create_group.list.item_1") %></li>
  <li><%= I18n.t("integration.http.walk_manager_setup.create_group.list.item_2") %></li>
  <li><%= I18n.t("integration.http.walk_manager_setup.create_group.list.item_3") %></li>
  <li><%= I18n.t("integration.http.walk_manager_setup.create_group.list.item_4") %></li>
  <li><%= I18n.t("integration.http.walk_manager_setup.create_group.list.item_5") %></li>
  <li><%= I18n.t("integration.http.walk_manager_setup.create_group.list.item_6") %></li>
  <li><%= I18n.t("integration.http.walk_manager_setup.create_group.list.item_7") %></li>
</ol>

<h3><%= I18n.t("integration.http.walk_manager_setup.create_logical_number.header") %></h3>

<p><%= I18n.t("integration.http.walk_manager_setup.create_logical_number.paragraph_1") %></p>

<ol>
  <li><%= I18n.t("integration.http.walk_manager_setup.create_logical_number.list.item_1") %></li>
  <li><%= I18n.t("integration.http.walk_manager_setup.create_logical_number.list.item_2") %></li>
  <li><%= I18n.t("integration.http.walk_manager_setup.create_logical_number.list.item_3") %></li>
  <li><%= I18n.t("integration.http.walk_manager_setup.create_logical_number.list.item_4") %></li>
</ol>

<h3><%= I18n.t("integration.http.walk_manager_setup.associate_logical_number.header") %></h3>

<p><%= I18n.t("integration.http.walk_manager_setup.associate_logical_number.paragraph_1") %></p>

<div class="pos evo"><pre>
- POS SETTINGS -

1 LOGICAL NUMBER
2 COMMUNICATION
3 CARD TYPES
4 CLEAN TERMINAL
5 CHECK S. NUMBER
6 ABOUT
</pre></div>

<p><%= I18n.t("integration.http.walk_manager_setup.associate_logical_number.paragraph_2") %></p>

<div class="pos evo"><pre>
- LOGICAL NUMBER -

:0001
</pre></div>

<p><%= I18n.t("integration.http.walk_manager_setup.associate_logical_number.paragraph_3") %></p>

<h2 id="testing"><%= I18n.t("integration.http.table_of_contents.testing") %></h2>

<p><%= I18n.t("integration.http.testing.paragraph_1") %></p>

<h3><%= I18n.t("integration.http.testing.download_application") %></h3>

<p><%= I18n.t("integration.http.testing.paragraph_2") %></p>

<div class="pos evo">
<pre>

  DOWNLOADING ...
</pre>
</div>

<p><%= I18n.t("integration.http.testing.paragraph_3") %></p>

<div class="pos evo">
<pre>

  DOWNLOAD COMPLETE!
     PRESS GREEN
</pre>
</div>

<h3><%= I18n.t("integration.http.testing.run_application") %></h3>

<p><%= I18n.t("integration.http.testing.paragraph_4") %></p>

<div class="pos evo">
<pre>
HTTP Post test
Connecting ...
</pre>
</div>

<div class="pos evo">
<pre>
HTTP Post test
Connected!
</pre>
</div>

<div class="pos evo">
<pre>
HTTP Post test
Connected!

Posting ...
</pre>
</div>

<div class="pos evo">
<pre>
HTTP Post test
Connected!

Posting ...

Post response:
CLOUDWALK 0123456789
</pre>
</div>

<h3><%= I18n.t("integration.http.testing.if_fail") %></h3>

<p><%= I18n.t("integration.http.testing.paragraph_5") %></p>

<div class="pos evo">
<pre>
HTTP Post test
Connection failed!
</pre>
</div>

<h3><%= I18n.t("integration.http.testing.testing_post_request") %></h3>

<p><%= I18n.t("integration.http.testing.paragraph_6") %></p>

<img src="/img/hurl-http.png" class="img-polaroid" alt="Hurl.it" />
