<% content_for :docs_description do %>
  <meta name="docs:description" content="<%= I18n.t('posxml.commands.deprecated_info') %>">
<% end %>

<h1><%= I18n.t("posxml.commands.title") %> <em>adjustdatetime</em></h1>

<p><span class="label label-warning"><%= I18n.t("posxml.commands.deprecated") %></span><span class="deprecated"><%= I18n.t("posxml.commands.deprecated_info") %></span></p>

<br>

<p><%= I18n.t("posxml.commands.adjustdatetime.paragraph_1") %></p>
