<% content_for :docs_description do %>
  <meta name="docs:description" content="<%= I18n.t('posxml.commands.break.description') %>">
<% end %>

<h1><%= I18n.t("posxml.commands.title") %> <em>break</em></h1>

<p><%= I18n.t("posxml.commands.break.paragraph_1") %></p>


<h2><%= I18n.t("posxml.commands.example") %></h2>

<script src="https://gist.github.com/posxml/e8bdd8ad9dcb5bcd3601.js"></script>

<hr/>
<p><%= I18n.t("posxml.commands.break.paragraph_2") %></p>
