<% content_for :docs_description do %>
  <meta name="docs:description" content="<%= I18n.t('posxml.commands.cleandisplay.description') %>">
<% end %>

<h1><%= I18n.t("posxml.commands.title") %> <em>cleandisplay</em></h1>

<p><%= I18n.t("posxml.commands.cleandisplay.paragraph_1") %></p>

<h2><%= I18n.t("posxml.commands.example") %></h2>

<%= embed_posxml_code("150005d153c36e0b46e4") %>

<hr/>

<p><%= I18n.t("posxml.commands.cleandisplay.paragraph_2") %></p>
