<% content_for :docs_description do %>
  <meta name="docs:description" content="<%= I18n.t('posxml.commands.crypto_encryptdecrypt.description') %>">
<% end %>

<h1><%= I18n.t("posxml.commands.title") %> <em>crypto.encryptdecrypt</em></h1>

<p><%= I18n.t("posxml.commands.crypto_encryptdecrypt.paragraph_1") %></p>

<h2><%= I18n.t("posxml.commands.parameters") %></h2>

<ol class="parameters">
  <li><%= I18n.t("posxml.commands.crypto_encryptdecrypt.parameters.parameter_1") %></li>
  <li><%= I18n.t("posxml.commands.crypto_encryptdecrypt.parameters.parameter_2") %></li>
  <li><%= I18n.t("posxml.commands.crypto_encryptdecrypt.parameters.parameter_3") %></li>
  <li><%= I18n.t("posxml.commands.crypto_encryptdecrypt.parameters.parameter_4") %></li>
  <li><%= I18n.t("posxml.commands.crypto_encryptdecrypt.parameters.parameter_5") %></li>
</ol>

<h2><%= I18n.t("posxml.commands.example") %></h2>

<%= embed_posxml_code("36c532bba91dcc918b40", true) %>

<hr/>

<p><%= I18n.t("posxml.commands.crypto_encryptdecrypt.paragraph_2") %></p>
<p><%= I18n.t("posxml.commands.crypto_encryptdecrypt.paragraph_3") %></p>
<p><%= I18n.t("posxml.commands.crypto_encryptdecrypt.paragraph_4") %></p>
