<% content_for :docs_description do %>
  <meta name="docs:description" content="<%= I18n.t('posxml.commands.editfile.description') %>">
<% end %>

<h1><%= I18n.t("posxml.commands.title") %> <em>editfile</em></h1>

<p><%= I18n.t("posxml.commands.editfile.paragraph_1") %></p>

<h2><%= I18n.t("posxml.commands.parameters") %></h2>

<ol class="parameters">
  <li><%= I18n.t("posxml.commands.editfile.parameters.parameter_1") %></li>
  <li><%= I18n.t("posxml.commands.editfile.parameters.parameter_2") %></li>
  <li><%= I18n.t("posxml.commands.editfile.parameters.parameter_3") %></li>
</ol>

<h2><%= I18n.t("posxml.commands.example") %></h2>

<pre><code data-language="html">&lt;stringvariable value="" variable="sPopulation" /&gt;
&lt;integervariable value="" variable="iDownload" /&gt;

&lt;downloadfile deleteafterdownload="0" filename="test.txt" remotepath="test.txt" variablereturn="$(iDownload)" /&gt;

&lt;editfile filename="test.txt" key="population" value="3.792.700" /&gt;

&lt;readfile filename="test.txt" key="population" variabledestination="$(sPopulation)" /&gt;

&lt;display column="0" line="0" message="Population: " /&gt;
&lt;display column="0" line="1" message="$(sPopulation)" /&gt;

&lt;waitkey /&gt;
</code></pre>
<a id="walk_db"></a>
<h2><%= I18n.t("posxml.commands.example") %> Walk DB</h2>
<pre>
country=USA
state=California
city=Los Angeles
population=3.792.621
</pre>

<hr/>

<p><%= I18n.t("posxml.commands.editfile.paragraph_2") %></p>
<p><%= I18n.t("posxml.commands.editfile.paragraph_3") %></p>
