<% content_for :docs_description do %>
  <meta name="docs:description" content="<%= I18n.t('posxml.commands.else.description') %>">
<% end %>

<h1><%= I18n.t("posxml.commands.title") %> <em>else</em></h1>

<p><%= I18n.t("posxml.commands.else.paragraph_1") %></p>

<h2><%= I18n.t("posxml.commands.example") %></h2>

<script src="https://gist.github.com/posxml/0298266480d3a5edc6fa.js"></script>

<hr/>

<p><%= I18n.t("posxml.commands.else.paragraph_2") %></p>

<ul>
  <li><%= I18n.t("posxml.commands.else.paragraph_3") %></li>
  <li><%= I18n.t("posxml.commands.else.paragraph_4") %></li>
  <li><%= I18n.t("posxml.commands.else.paragraph_5") %></li>
</ul>

<p class="note"><%= I18n.t("posxml.commands.else.paragraph_6") %></p>
