<% content_for :docs_description do %>
  <meta name="docs:description" content="<%= I18n.t('posxml.commands.emv_getinfo.description') %>">
<% end %>

<h1><%= I18n.t("posxml.commands.title") %> <em>emv.getinfo</em></h1>

<p class="note"><%= I18n.t("posxml.commands.emv_getinfo.paragraph_1") %></p>

<p><%= I18n.t("posxml.commands.emv_getinfo.paragraph_2") %></p>

<h2><%= I18n.t("posxml.commands.parameters") %></h2>

<ol class="parameters">
  <li><%= I18n.t("posxml.commands.emv_getinfo.parameters.parameter_1") %></li>
  <li><%= I18n.t("posxml.commands.emv_getinfo.parameters.parameter_2") %></li>
  <li><%= I18n.t("posxml.commands.emv_getinfo.parameters.parameter_3") %></li>
</ol>

<h2 id="table-of-parameters"><%= I18n.t("posxml.commands.emv_getinfo.paragraph_3") %></h2>

<p><%= I18n.t("posxml.commands.emv_getinfo.paragraph_8") %></p>

<table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th><%= I18n.t("posxml.commands.emv_getinfo.paragraph_4") %></th>
      <th><%= I18n.t("posxml.commands.emv_getinfo.paragraph_5") %></th>
      <th><%= I18n.t("posxml.commands.emv_getinfo.paragraph_6") %></th>
      <th><%= I18n.t("posxml.commands.emv_getinfo.paragraph_7") %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>bCardType</td>
      <td>Card type</br>
      0 - Magnetic stripe</br>
      3 - EMV chip card.</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>bLastChipStatus</td>
      <td>Status of the last card read</br>
      0 - OK</br>
      1 - Fallback is necessary</br>
      2 - App not supported.
      </td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>bAppType</td>
      <td>Application selection type (as per the parameters table)</br>
      01 - Credit</br>
      02 - Debit</br>
      03 - Voucher</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>bAcquirerID</td>
      <td>Acquiring network identifier (as per the parameters table).</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>bRegisterIndex</td>
      <td>Registry index in the parameter table.</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>bTrack1Len</td>
      <td>Field size of bTrack1.</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>baTrack1</td>
      <td>Track 1 (Hex).</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>bTrack2Len</td>
      <td>Field size of bTrack2.</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>baTrack2</td>
      <td>Track 2 (Hex).</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>bTrack3Len</td>
      <td>Field size of bTrack3.</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>baTrack3</td>
      <td>Track 3 (Hex).</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>bPANLen</td>
      <td>Field size of baPAN.</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>baPAN</td>
      <td>PAN</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>bPANSequence</td>
      <td>PAN Sequence.</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>bApplicationLabelLen</td>
      <td>Field size of baApplicationLabel.</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>baApplicationLabel</td>
      <td>Application Name.</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>baServiceCode</td>
      <td>Service Code (padded to the left with zeros).</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>bCardHolderNameLen</td>
      <td>Field size of baCardHolderName.</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>baCardHolderName</td>
      <td>Cardholder name.</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>baExpirationDate</td>
      <td>Expiry date (“AAMMDD”).</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>bExternalNumberLen</td>
      <td>Field size of baExternalNumber.</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>baExternalNumber</td>
      <td>External card number.</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>baBalance</td>
      <td>Balance, allowed in money (wallet).</td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>baIssuerCountryCode</td>
      <td>Country code of the Issuer</td>
      <td>x</td>
      <td></td>
    </tr>
  </tbody>
</table>

<p><%= I18n.t("posxml.commands.emv_getinfo.paragraph_9") %></p>

<table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th><%= I18n.t("posxml.commands.emv_getinfo.paragraph_4") %></th>
      <th><%= I18n.t("posxml.commands.emv_getinfo.paragraph_5") %></th>
      <th><%= I18n.t("posxml.commands.emv_getinfo.paragraph_6") %></th>
      <th><%= I18n.t("posxml.commands.emv_getinfo.paragraph_7") %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>bDecision</td>
      <td>Decision taken</br>
      0 - Approved Offline</br>
      1 - Declined</br>
      2 - Go Online</td>
      <td>x</td>
      <td>x</td>
    </tr>
    <tr>
      <td>bSignature</td>
      <td>Signature on paper should be obtained</br>
      0 - No</br>
      1 - Yes</td>
      <td>x</td>
      <td>x</td>
    </tr>
    <tr>
      <td>bOfflinePIN</td>
      <td>PIN was verified Offline</br>
      0 - No</br>
      1 - Yes</td>
      <td>x</td>
      <td>x</td>
    </tr>
    <tr>
      <td>bOfflinePINErrors</td>
      <td>Number of invalid PIN entries Offline</td>
      <td>x</td>
      <td>x</td>
    </tr>
    <tr>
      <td>bOfflinePINBlocked</td>
      <td>Offline PIN was blocked at the last invalid entry</br>
      0 - No</br>
      1 - Yes</td>
      <td>x</td>
      <td>x</td>
    </tr>
    <tr>
      <td>bOnlinePIN</td>
      <td>PIN captured for online verification</br>
      0 - No</br>
      1 - Yes</td>
      <td>x</td>
      <td>x</td>
    </tr>
    <tr>
      <td>baDUKPTInfo</td>
      <td>Key Serial Number and Key Counter in the case of PIN Online
      </td>
      <td>x</td>
      <td>x</td>
    </tr>
    <tr>
      <td>iTLVDataEMVLen</td>
      <td>Field size of baTLVDataEMV</td>
      <td>x</td>
      <td>x</td>
    </tr>
    <tr>
      <td>baTLVDataEMV</td>
      <td>Mandatory and Optional Tags required in parameter baMandatoryTags of AddData (cryptogram to be analyzed by the card issuer in the event of an online transaction)</td>
      <td>x</td>
      <td>x</td>
    </tr>
    <tr>
      <td>baBalance</td>
      <td>Amount available for offline approval</td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>baVLPIssuerAuthCode</td>
      <td>VLP Issuer Authorization Code. Only for Visa and JCB cards</td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>baCardTransactionQualifiers</td>
      <td>VISA Card Transaction Qualifiers</td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>baAppExpirationDate</td>
      <td>Application expiration date</td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>baAppEffectiveDate</td>
      <td>Application effective from date (“DDMMAA”)</td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>bTrack1EquivalentDataLen</td>
      <td>Field size of baTrack1EquivalentData</td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>baTrack1EquivalentData</td>
      <td>Track 1 Equivalent Data</td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>bTrack2EquivalentDataLen</td>
      <td>Field size of baTrack2EquivalentData</td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>baTrack2EquivalentData</td>
      <td>Track 2 Equivalent Data</td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>bCardType</td>
      <td>Card type</br>
      0 - Magnetic stripe</br>
      3 - EMV chip card.</td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>bApplicationIdentifierLen</td>
      <td>Field size of baApplicationIdentifier</td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>baApplicationIdentifier</td>
      <td>Application Identifier</td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>bTrack1Len</td>
      <td>Field size of bTrack1</td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>baTrack1</td>
      <td>Track 1 (Hex)</td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>bTrack2Len</td>
      <td>Field size of bTrack2</td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>baTrack2</td>
      <td>Track 2 (Hex)</td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>bPANLen</td>
      <td>Field size of baPAN</td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>baPAN</td>
      <td>PAN</td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>bPANSequence</td>
      <td>PAN Sequence</td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>bApplicationLabelLen</td>
      <td>Field size of baApplicationLabel</td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>baApplicationLabel</td>
      <td>Application Name</td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>bCardHolderNameLen</td>
      <td>Field size of baCardHolderName</td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>baCardHolderName</td>
      <td>Cardholder name</td>
      <td></td>
      <td>x</td>
    </tr>
  </tbody>
</table>

<p><%= I18n.t("posxml.commands.emv_getinfo.paragraph_10") %></p>

<table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th><%= I18n.t("posxml.commands.emv_getinfo.paragraph_4") %></th>
      <th><%= I18n.t("posxml.commands.emv_getinfo.paragraph_5") %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>bDecision</td>
      <td>Decision taken</br>
      0 - Approved</br>
      1 - Declined by card</br>
      2 - Declined by host</td>
    </tr>
    <tr>
      <td>TLVDataEMVLen</td>
      <td>Mandatory and Optional tags required in emv.processtransaction</td>
    </tr>
    <tr>
      <td>bIssuerScriptResLen</td>
      <td>Size of Issuer Script Results</td>
    </tr>
    <tr>
      <td>baIssuerScriptResults</td>
      <td>Results of scripts execution (EMV 4.2, Book 4, Section A5)</td>
    </tr>
  </tbody>
</table>

<h2><%= I18n.t("posxml.commands.example") %></h2>

<%= embed_posxml_code("07381b137a19f437ac4e", true) %>

<hr/>

<p><%= I18n.t("posxml.commands.emv_getinfo.paragraph_11") %></p>
<p><%= I18n.t("posxml.commands.emv_getinfo.paragraph_12") %></p>
