<% content_for :docs_description do %>
  <meta name="docs:description" content="<%= I18n.t('posxml.commands.emv_getinfo.description') %>">
<% end %>

<h1><%= I18n.t("posxml.commands.title") %> <em>emv.getinfo</em></h1>

<p class="note"><%= I18n.t("posxml.commands.emv_getinfo.paragraph_1") %></p>

<p><%= I18n.t("posxml.commands.emv_getinfo.paragraph_2") %></p>

<h2><%= I18n.t("posxml.commands.parameters") %></h2>

<ol class="parameters">
  <li><%= I18n.t("posxml.commands.emv_getinfo.parameters.parameter_1") %></li>
  <li><%= I18n.t("posxml.commands.emv_getinfo.parameters.parameter_2") %></li>
  <li><%= I18n.t("posxml.commands.emv_getinfo.parameters.parameter_3") %></li>
</ol>

<h2 id="table-of-parameters"><%= I18n.t("posxml.commands.emv_getinfo.paragraph_3") %></h2>

<p><%= I18n.t("posxml.commands.emv_getinfo.paragraph_8") %></p>

<table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th><%= I18n.t("posxml.commands.emv_getinfo.paragraph_4") %></th>
      <th><%= I18n.t("posxml.commands.emv_getinfo.paragraph_5") %></th>
      <th><%= I18n.t("posxml.commands.emv_getinfo.paragraph_6") %></th>
      <th><%= I18n.t("posxml.commands.emv_getinfo.paragraph_7") %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>bCardType</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_1.table_row_1") %></td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>bLastChipStatus</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_1.table_row_2") %></td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>bAppType</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_1.table_row_3") %></td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>bAcquirerID</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_1.table_row_4") %></td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>bRegisterIndex</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_1.table_row_5") %></td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>bTrack1Len</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_1.table_row_6") %></td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>baTrack1</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_1.table_row_7") %></td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>bTrack2Len</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_1.table_row_8") %></td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>baTrack2</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_1.table_row_9") %></td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>bTrack3Len</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_1.table_row_10") %></td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>baTrack3</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_1.table_row_11") %></td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>bPANLen</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_1.table_row_12") %></td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>baPAN</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_1.table_row_13") %></td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>bPANSequence</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_1.table_row_14") %></td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>bApplicationLabelLen</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_1.table_row_15") %></td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>baApplicationLabel</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_1.table_row_16") %></td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>baServiceCode</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_1.table_row_17") %></td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>bCardHolderNameLen</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_1.table_row_18") %></td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>baCardHolderName</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_1.table_row_19") %></td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>baExpirationDate</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_1.table_row_20") %></td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>bExternalNumberLen</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_1.table_row_21") %></td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>baExternalNumber</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_1.table_row_22") %></td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>baBalance</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_1.table_row_23") %></td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>baIssuerCountryCode</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_1.table_row_24") %></td>
      <td>x</td>
      <td></td>
    </tr>
  </tbody>
</table>

<p><%= I18n.t("posxml.commands.emv_getinfo.paragraph_9") %></p>

<table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th><%= I18n.t("posxml.commands.emv_getinfo.paragraph_4") %></th>
      <th><%= I18n.t("posxml.commands.emv_getinfo.paragraph_5") %></th>
      <th><%= I18n.t("posxml.commands.emv_getinfo.paragraph_6") %></th>
      <th><%= I18n.t("posxml.commands.emv_getinfo.paragraph_7") %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>bDecision</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_2.table_row_1") %></td>
      <td>x</td>
      <td>x</td>
    </tr>
    <tr>
      <td>bSignature</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_2.table_row_2") %></td>
      <td>x</td>
      <td>x</td>
    </tr>
    <tr>
      <td>bOfflinePIN</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_2.table_row_3") %></td>
      <td>x</td>
      <td>x</td>
    </tr>
    <tr>
      <td>bOfflinePINErrors</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_2.table_row_4") %></td>
      <td>x</td>
      <td>x</td>
    </tr>
    <tr>
      <td>bOfflinePINBlocked</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_2.table_row_5") %></br>
      0 - No</br>
      1 - Yes</td>
      <td>x</td>
      <td>x</td>
    </tr>
    <tr>
      <td>bOnlinePIN</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_2.table_row_6") %></td>
      <td>x</td>
      <td>x</td>
    </tr>
    <tr>
      <td>baDUKPTInfo</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_2.table_row_7") %></td>
      <td>x</td>
      <td>x</td>
    </tr>
    <tr>
      <td>iTLVDataEMVLen</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_2.table_row_8") %></td>
      <td>x</td>
      <td>x</td>
    </tr>
    <tr>
      <td>baTLVDataEMV</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_2.table_row_9") %></td>
      <td>x</td>
      <td>x</td>
    </tr>
    <tr>
      <td>baBalance</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_2.table_row_10") %></td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>baVLPIssuerAuthCode</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_2.table_row_11") %></td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>baCardTransactionQualifiers</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_2.table_row_12") %></td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>baAppExpirationDate</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_2.table_row_13") %></td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>baAppEffectiveDate</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_2.table_row_14") %></td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>bTrack1EquivalentDataLen</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_2.table_row_15") %></td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>baTrack1EquivalentData</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_2.table_row_16") %></td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>bTrack2EquivalentDataLen</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_2.table_row_17") %></td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>baTrack2EquivalentData</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_2.table_row_18") %></td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>bCardType</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_2.table_row_19") %></td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>bApplicationIdentifierLen</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_2.table_row_20") %></td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>baApplicationIdentifier</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_2.table_row_21") %></td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>bTrack1Len</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_2.table_row_22") %></td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>baTrack1</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_2.table_row_23") %></td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>bTrack2Len</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_2.table_row_24") %></td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>baTrack2</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_2.table_row_25") %></td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>bPANLen</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_2.table_row_26") %></td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>baPAN</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_2.table_row_27") %></td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>bPANSequence</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_2.table_row_28") %></td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>bApplicationLabelLen</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_2.table_row_29") %></td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>baApplicationLabel</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_2.table_row_30") %></td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>bCardHolderNameLen</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_2.table_row_31") %></td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>baCardHolderName</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_2.table_row_32") %></td>
      <td></td>
      <td>x</td>
    </tr>
  </tbody>
</table>

<p><%= I18n.t("posxml.commands.emv_getinfo.paragraph_10") %></p>

<table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th><%= I18n.t("posxml.commands.emv_getinfo.paragraph_4") %></th>
      <th><%= I18n.t("posxml.commands.emv_getinfo.paragraph_5") %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>bDecision</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_3.table_row_1") %></td>
    </tr>
    <tr>
      <td>TLVDataEMVLen</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_3.table_row_2") %></td>
    </tr>
    <tr>
      <td>bIssuerScriptResLen</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_3.table_row_3") %></td>
    </tr>
    <tr>
      <td>baIssuerScriptResults</td>
      <td><%= I18n.t("posxml.commands.emv_getinfo.table_3.table_row_4") %></td>
    </tr>
  </tbody>
</table>

<h2><%= I18n.t("posxml.commands.example") %></h2>

<%= embed_posxml_code("07381b137a19f437ac4e", true) %>

<hr/>

<p><%= I18n.t("posxml.commands.emv_getinfo.paragraph_11") %></p>
<p><%= I18n.t("posxml.commands.emv_getinfo.paragraph_12") %></p>
