<% content_for :docs_description do %>
  <meta name="docs:description" content="<%= I18n.t('posxml.commands.emv_adddata.description') %>">
<% end %>

<h1><%= I18n.t("posxml.commands.title") %> <em>emv.adddata</em></h1>

<p class="note"><%= I18n.t("posxml.commands.emv_adddata.paragraph_1") %></p>

<p><%= I18n.t("posxml.commands.emv_adddata.paragraph_2") %></p>

<h2><%= I18n.t("posxml.commands.parameters") %></h2>

<ol class="parameters">
  <li><%= I18n.t("posxml.commands.emv_adddata.parameters.parameter_1") %></li>
  <li><%= I18n.t("posxml.commands.emv_adddata.parameters.parameter_2") %></li>
  <li><%= I18n.t("posxml.commands.emv_adddata.parameters.parameter_3") %></li>
  <li><%= I18n.t("posxml.commands.emv_adddata.parameters.parameter_4") %></li>
</ol>

<h2 id="table-of-parameters"><%= I18n.t("posxml.commands.emv_adddata.paragraph_3") %></h2>

<p><%= I18n.t("posxml.commands.emv_adddata.paragraph_8") %></p>

<table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th><%= I18n.t("posxml.commands.emv_adddata.paragraph_4") %></th>
      <th><%= I18n.t("posxml.commands.emv_adddata.paragraph_5") %></th>
      <th><%= I18n.t("posxml.commands.emv_adddata.paragraph_6") %></th>
      <th><%= I18n.t("posxml.commands.emv_adddata.paragraph_7") %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>bAcquirerID</td>
      <td><%= I18n.t("posxml.commands.emv_adddata.table_1.table_row_1") %></td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>bReqApplication</td>
      <td><%= I18n.t("posxml.commands.emv_adddata.table_1.table_row_2") %></td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>baInitialValue</td>
      <td><%= I18n.t("posxml.commands.emv_adddata.table_1.table_row_3") %></td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>baDate</td>
      <td><%= I18n.t("posxml.commands.emv_adddata.table_1.table_row_4") %></td>
      <td>x</td>
      <td>x</td>
    </tr>
    <tr>
      <td>baTime</td>
      <td><%= I18n.t("posxml.commands.emv_adddata.table_1.table_row_5") %></td>
      <td>x</td>
      <td>x</td>
    </tr>
    <tr>
      <td>baTimeStamp</td>
      <td><%= I18n.t("posxml.commands.emv_adddata.table_1.table_row_6") %></td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>iAppCount</td>
      <td><%= I18n.t("posxml.commands.emv_adddata.table_1.table_row_7") %></td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>waAppArrayX</td>
      <td><%= I18n.t("posxml.commands.emv_adddata.table_1.table_row_8") %></td>
      <td>x</td>
      <td></td>
    </tr>
  </tbody>
</table>

<p><%= I18n.t("posxml.commands.emv_adddata.paragraph_9") %></p>

<table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th><%= I18n.t("posxml.commands.emv_adddata.paragraph_4") %></th>
      <th><%= I18n.t("posxml.commands.emv_adddata.paragraph_5") %></th>
      <th><%= I18n.t("posxml.commands.emv_adddata.paragraph_6") %></th>
      <th><%= I18n.t("posxml.commands.emv_adddata.paragraph_7") %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>baAmount</td>
      <td><%= I18n.t("posxml.commands.emv_adddata.table_2.table_row_1") %></td>
      <td>x</td>
      <td>x</td>
    </tr>
    <tr>
      <td>baAmountOther</td>
      <td><%= I18n.t("posxml.commands.emv_adddata.table_2.table_row_2") %></td>
      <td>x</td>
      <td>x</td>
    </tr>
    <tr>
      <td>bfRefund</td>
      <td><%= I18n.t("posxml.commands.emv_adddata.table_2.table_row_3") %></td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>bBlackList</td>
      <td><%= I18n.t("posxml.commands.emv_adddata.table_2.table_row_4") %></td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>bMustConnect</td>
      <td><%= I18n.t("posxml.commands.emv_adddata.table_2.table_row_5") %></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>bRequirePIN</td>
      <td><%= I18n.t("posxml.commands.emv_adddata.table_2.table_row_6") %></td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>bKeyMode</td>
      <td><%= I18n.t("posxml.commands.emv_adddata.table_2.table_row_7") %></td>
      <td>x</td>
      <td>x</td>
    </tr>
    <tr>
      <td>bManageRisk</td>
      <td><%= I18n.t("posxml.commands.emv_adddata.table_2.table_row_8") %></td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>dwFloorLimit</td>
      <td><%= I18n.t("posxml.commands.emv_adddata.table_2.table_row_9") %></td>
      <td>x</td>
      <td>x</td>
    </tr>
    <tr>
      <td>dwThresholdValue</td>
      <td><%= I18n.t("posxml.commands.emv_adddata.table_2.table_row_10") %></td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>bMaximumTarget</td>
      <td><%= I18n.t("posxml.commands.emv_adddata.table_2.table_row_11") %></td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>bMandatoryTagsLen</td>
      <td><%= I18n.t("posxml.commands.emv_adddata.table_2.table_row_12") %></td>
      <td>x</td>
      <td>x</td>
    </tr>
    <tr>
      <td>baMandatoryTags</td>
      <td><%= I18n.t("posxml.commands.emv_adddata.table_2.table_row_13") %></td>
      <td>x</td>
      <td>x</td>
    </tr>
    <tr>
      <td>bOptionalTagsLen</td>
      <td><%= I18n.t("posxml.commands.emv_adddata.table_2.table_row_14") %></td>
      <td>x</td>
      <td>x</td>
    </tr>
    <tr>
      <td>baOptionalTags</td>
      <td><%= I18n.t("posxml.commands.emv_adddata.table_2.table_row_15") %></td>
      <td>x</td>
      <td>x</td>
    </tr>
  </tbody>
</table>

<p><%= I18n.t("posxml.commands.emv_adddata.paragraph_10") %></p>

<table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th><%= I18n.t("posxml.commands.emv_adddata.paragraph_4") %></th>
      <th><%= I18n.t("posxml.commands.emv_adddata.paragraph_5") %></th>
      <th><%= I18n.t("posxml.commands.emv_adddata.paragraph_6") %></th>
      <th><%= I18n.t("posxml.commands.emv_adddata.paragraph_7") %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>bCommStatus</td>
      <td><%= I18n.t("posxml.commands.emv_adddata.table_3.table_row_1") %></td>
      <td>x</td>
      <td>x</td>
    </tr>
    <tr>
      <td>bIssuerType</td>
      <td><%= I18n.t("posxml.commands.emv_adddata.table_3.table_row_2") %></td>
      <td>x</td>
      <td>x</td>
    </tr>
    <tr>
      <td>baInitialValue</td>
      <td><%= I18n.t("posxml.commands.emv_adddata.table_3.table_row_3") %></td>
      <td>x</td>
      <td>x</td>
    </tr>
    <tr>
      <td>iTLVDataEMVLen</td>
      <td><%= I18n.t("posxml.commands.emv_adddata.table_3.table_row_4") %></td>
      <td>x</td>
      <td>x</td>
    </tr>
    <tr>
      <td>baTLVDataEMV</td>
      <td><%= I18n.t("posxml.commands.emv_adddata.table_3.table_row_5") %></td>
      <td>x</td>
      <td>x</td>
    </tr>
    <tr>
      <td>bMandatoryTagsLen</td>
      <td><%= I18n.t("posxml.commands.emv_adddata.table_3.table_row_6") %></td>
      <td>x</td>
      <td>x</td>
    </tr>
    <tr>
      <td>baMandatoryTags</td>
      <td><%= I18n.t("posxml.commands.emv_adddata.table_3.table_row_7") %></td>
      <td>x</td>
      <td>x</td>
    </tr>
  </tbody>
</table>

<h2><%= I18n.t("posxml.commands.example") %></h2>

<script src="https://gist.github.com/posxml/9fa094705897f32fc297.js"></script>

<hr/>

<p><%= I18n.t("posxml.commands.emv_adddata.paragraph_11") %></p>
<p><%= I18n.t("posxml.commands.emv_adddata.paragraph_12") %></p>
