<% content_for :docs_description do %>
  <meta name="docs:description" content="<%= I18n.t('posxml.commands.execute.description') %>">
<% end %>

<h1><%= I18n.t("posxml.commands.title") %> <em>execute</em></h1>

<p class="more-info"><%= I18n.t("general.updated_at", :date => "13/08/2013") %></p>

<p><%= I18n.t("posxml.commands.execute.paragraph_1") %></p>

<h2><%= I18n.t("posxml.commands.parameters") %></h2>

<ol class="parameters">
  <li><%= I18n.t("posxml.commands.execute.parameters.parameter_1") %></li>
</ol>

<h2><%= I18n.t("posxml.commands.example") %></h2>

<h3><%= I18n.t("posxml.commands.execute.app_name") %> <em>appone</em></h3>

<pre><code data-language="html">&lt;integervariable value="0" variable="iReturn" /&gt;

&lt;display column="0" line="0" message="- APPLICATION ONE -"/&gt;

&lt;display line="3" column="0" message="    CONNECTING...  " /&gt;
&lt;preconnect variablestatus="$(iReturn)" /&gt;

&lt;if variable="$(iReturn)" operator="equalto" value="0">
  &lt;display line="3" column="0" message="    DOWNLOADING      " /&gt;
  &lt;display line="4" column="0" message="   APPLICATION 2...  " /&gt;

  &lt;downloadfile filename="apptwo.posxml" remotepath="apptwo.posxml" variablereturn="$(iReturn)" /&gt;
  &lt;network.hostdisconnect /&gt;

  &lt;if variable="$(iReturn)" operator="equalto" value="1"&gt;
    &lt;execute filename="apptwo.posxml" /&gt;
  &lt;else /&gt;
    &lt;if variable="$(iReturn)" operator="notequalto" value="2"&gt;
      &lt;display line="3" column="0" message="    DOWNLOAD    " /&gt;
      &lt;display line="4" column="0" message="     ERROR!     " /&gt;
      &lt;waitkey /&gt;
    &lt;else /&gt;
      &lt;execute filename="apptwo.posxml" /&gt;
    &lt;/if&gt;
  &lt;/if&gt;
&lt;else /&gt;
  &lt;display line="3" column="0" message="    CONNECTION  " /&gt;
  &lt;display line="4" column="0" message="      ERROR!    " /&gt;
  &lt;network.hostdisconnect /&gt;
  &lt;waitkey /&gt;
&lt;/if&gt;
</code></pre>

<h3><%= I18n.t("posxml.commands.execute.app_name") %> <em>apptwo</em></h3>

<pre><code data-language="html">&lt;display column="0" line="0" message="- APPLICATION TWO - "/&gt;

&lt;display column="0" line="2" message="  Opened using the "/&gt;
&lt;display column="0" line="3" message="  command execute"/&gt;

&lt;display column="0" line="5" message="    PRESS GREEN    "/&gt;
&lt;waitkey /&gt;
</code></pre>

<hr/>

<p><%= I18n.t("posxml.commands.execute.paragraph_2") %></p>
<p><%= I18n.t("posxml.commands.execute.paragraph_3") %></p>
