<% content_for :docs_description do %>
  <meta name="docs:description" content="<%= I18n.t('posxml.commands.exit.description') %>">
<% end %>

<h1><%= I18n.t("posxml.commands.title") %> <em>exit</em></h1>

<p><%= I18n.t("posxml.commands.exit.paragraph_1") %></p>

<h2><%= I18n.t("posxml.commands.example") %></h2>

<%= embed_posxml_code("756d636ef3f47a1ee6a8") %>

<hr/>
<p><%= I18n.t("posxml.commands.exit.paragraph_2") %></p>
