<% content_for :docs_description do %>
  <meta name="docs:description" content="<%= I18n.t('posxml.commands.file_write.description') %>">
<% end %>

<h1><%= I18n.t("posxml.commands.title") %> <em>file.write</em></h1>

<p class="more-info"><%= I18n.t("general.updated_at", :date => "03/05/2013") %></p>

<p><%= I18n.t("posxml.commands.file_write.paragraph_1") %></p>

<h2><%= I18n.t("posxml.commands.parameters") %></h2>

<ol class="parameters">
  <li><%= I18n.t("posxml.commands.file_write.parameters.parameter_1") %></li>
  <li><%= I18n.t("posxml.commands.file_write.parameters.parameter_2") %></li>
  <li><%= I18n.t("posxml.commands.file_write.parameters.parameter_3") %></li>
</ol>

<h2><%= I18n.t("posxml.commands.example") %></h2>

<pre><code data-language="html">&lt;stringvariable value="" variable="sReturn" /&gt;
&lt;stringvariable value="" variable="sReturnFile" /&gt;
&lt;stringvariable value="" variable="sNewText" /&gt;

&lt;integervariable value="" variable="iFile" /&gt;
&lt;integervariable value="" variable="iReturnFile" /&gt;
&lt;integervariable value="" variable="iNewText" /&gt;

&lt;integervariable value="" variable="iBytes" /&gt;

&lt;downloadfile filename="test.txt" remotepath="test.txt" variablereturn="$(iFile)" /&gt;

&lt;file.open filename="test.txt" mode="w" variablehandle="$(iFile)" /&gt;

&lt;string.tohex string="Testing" variablereturn="$(sNewText)" /&gt;

&lt;string.length value="$(sNewText)" variablereturn="$(iNewText)" /&gt;

&lt;file.write buffer="$(sNewText)" handle="$(iFile)" size="$(iNewText)" /&gt;

&lt;file.close handle="$(iFile)" /&gt;

&lt;file.open filename="test.txt" mode="r" variablehandle="$(iFile)"  /&gt;

&lt;filesystem.filesize filename="test.txt" variablereturn="$(iBytes)" /&gt;

&lt;file.read handle="$(iFile)" size="$(iBytes)" variablebuffer="$(sReturn)" variablereturn="$(iReturnFile)" /&gt;

&lt;inttostring variableinteger="$(iReturnFile)" variablestring="$(sReturnFile)" /&gt;

&lt;file.close handle="$(iFile)" /&gt;

&lt;display column="0" line="0" message="Hexadecimal: " /&gt;
&lt;display column="0" line="1" message="$(sReturn)" /&gt;

&lt;display column="0" line="3" message="Bytes: " /&gt;
&lt;display column="0" line="4" message="$(sReturnFile)" /&gt;

&lt;waitkey /&gt;
</code></pre>
<hr/>
<p><%= I18n.t("posxml.commands.file_write.paragraph_2") %></p>
<p><%= I18n.t("posxml.commands.file_write.paragraph_3") %></p>
<p><%= I18n.t("posxml.commands.file_write.paragraph_4") %></p>
