<% content_for :docs_description do %>
  <meta name="docs:description" content="<%= I18n.t('posxml.commands.filesystem_space.description') %>">
<% end %>

<h1><%= I18n.t("posxml.commands.title") %> <em>filesystem.space</em></h1>

<p class="more-info"><%= I18n.t("general.updated_at", :date => "03/05/2013") %></p>

<p class="note"><%= I18n.t("posxml.commands.filesystem_space.paragraph_1") %></p>

<p><%= I18n.t("posxml.commands.filesystem_space.paragraph_2") %></p>

<h2><%= I18n.t("posxml.commands.parameters") %></h2>

<ol class="parameters">
  <li><%= I18n.t("posxml.commands.filesystem_space.parameters.parameter_1") %></li>
  <li><%= I18n.t("posxml.commands.filesystem_space.parameters.parameter_2") %></li>
  <li><%= I18n.t("posxml.commands.filesystem_space.parameters.parameter_3") %></li>
</ol>

<h2><%= I18n.t("posxml.commands.example") %></h2>

<pre><code data-language="html">&lt;stringvariable value="" variable="sReturn" /&gt;
&lt;integervariable value="" variable="iReturn" /&gt;

&lt;downloadfile filename="wallpaper_walkpb.bmp" remotepath="wallpaper_walkpb.bmp" variablereturn="$(iReturn)" /&gt;

&lt;!--TOTAL--&gt;
&lt;filesystem.space dir="F" type="total" variablereturn="$(iReturn)" /&gt;

&lt;inttostring variableinteger="$(iReturn)" variablestring="$(sReturn)" /&gt;

&lt;display column="0" line="0" message="Total: " /&gt;
&lt;display column="8" line="0" message="$(sReturn)" /&gt;
&lt;!--/TOTAL--&gt;

&lt;!--USED--&gt;
&lt;filesystem.space dir="N" type="used" variablereturn="$(iReturn)" /&gt;

&lt;inttostring variableinteger="$(iReturn)" variablestring="$(sReturn)" /&gt;

&lt;display column="0" line="2" message="Used: " /&gt;
&lt;display column="8" line="2" message="$(sReturn)" /&gt;
&lt;!--/USED--&gt;

&lt;!--FREE--&gt;
&lt;filesystem.space dir="N" type="free" variablereturn="$(iReturn)" /&gt;

&lt;inttostring variableinteger="$(iReturn)" variablestring="$(sReturn)" /&gt;

&lt;display column="0" line="4" message="Free: " /&gt;
&lt;display column="8" line="4" message="$(sReturn)" /&gt;
&lt;!--/FREE--&gt;

&lt;!--COUNTFILES--&gt;
&lt;filesystem.space dir="N" type="countfiles" variablereturn="$(iReturn)" /&gt;

&lt;inttostring variableinteger="$(iReturn)" variablestring="$(sReturn)" /&gt;

&lt;display column="0" line="6" message="Files: " /&gt;
&lt;display column="11" line="6" message="$(sReturn)" /&gt;
&lt;!--/COUNTFILES--&gt;

&lt;waitkey /&gt;
</code></pre>
<hr/>
<p><%= I18n.t("posxml.commands.filesystem_space.paragraph_3") %></p>
<p><%= I18n.t("posxml.commands.filesystem_space.paragraph_4") %></p>

<h2><%= I18n.t("posxml.commands.comments") %></h2>

<%= mootit %>
