<% content_for :docs_description do %>
  <meta name="docs:description" content="<%= I18n.t('posxml.commands.if.description') %>">
<% end %>

<h1><%= I18n.t("posxml.commands.title") %> <em>if</em></h1>

<p><%= I18n.t("posxml.commands.if.paragraph_1") %></p>

<p><%= I18n.t("posxml.commands.if.operators_list") %></p>

<ul>
  <li><%= I18n.t("posxml.commands.if.operators.operator_1") %></li>
  <li><%= I18n.t("posxml.commands.if.operators.operator_2") %></li>
  <li><%= I18n.t("posxml.commands.if.operators.operator_3") %></li>
  <li><%= I18n.t("posxml.commands.if.operators.operator_4") %></li>
  <li><%= I18n.t("posxml.commands.if.operators.operator_5") %></li>
  <li><%= I18n.t("posxml.commands.if.operators.operator_6") %></li>
</ul>

<p><%= I18n.t("posxml.commands.if.operators_integer.paragraph_1") %></p>
<p><%= I18n.t("posxml.commands.if.operators_integer.paragraph_2") %></p>

<p><%= I18n.t("posxml.commands.if.operators_string.paragraph_1") %></p>
<p><%= I18n.t("posxml.commands.if.operators_string.paragraph_2") %></p>

<p><%= I18n.t("posxml.commands.if.other_operators") %></p>

<h2><%= I18n.t("posxml.commands.parameters") %></h2>

<ol class="parameters">
  <li><%= I18n.t("posxml.commands.if.parameters.parameter_1") %></li>
  <li><%= I18n.t("posxml.commands.if.parameters.parameter_2") %></li>
  <li><%= I18n.t("posxml.commands.if.parameters.parameter_3") %></li>
</ol>

<h2><%= I18n.t("posxml.commands.example") %></h2>

<script src="https://gist.github.com/posxml/272b674beb025e4e6a23.js"></script>

<hr/>
<p><%= I18n.t("posxml.commands.if.paragraph_2") %></p>
