<% content_for :docs_description do %>
  <meta name="docs:description" content="<%= I18n.t('posxml.commands.inputmoney.description') %>">
<% end %>

<h1><%= I18n.t("posxml.commands.title") %> <em>inputmoney</em></h1>

<p class="more-info"><%= I18n.t("general.updated_at", :date => "08/08/2013") %></p>

<p><%= I18n.t("posxml.commands.inputmoney.paragraph_1") %></p>

<h2><%= I18n.t("posxml.commands.parameters") %></h2>

<ol class="parameters">
  <li><%= I18n.t("posxml.commands.inputmoney.parameters.parameter_1") %></li>
  <li><%= I18n.t("posxml.commands.inputmoney.parameters.parameter_2") %></li>
  <li><%= I18n.t("posxml.commands.inputmoney.parameters.parameter_3") %></li>
  <li><%= I18n.t("posxml.commands.inputmoney.parameters.parameter_4") %></li>
</ol>
<h2><%= I18n.t("posxml.commands.example") %></h2>

<pre><code data-language="html">
&lt;integervariable value="0" variable="iValue" /&gt;
&lt;stringvariable value="" variable="sValue" /&gt;

<!-- Enter a value -->
&lt;inputmoney variable="$(iValue)" line="0" column="0" message="Type a value: " /&gt;

<!-- Convert int to string -->
&lt;inttostring variableinteger="$(iValue)" variablestring="$(sValue)" /&gt;

<!-- Important: In order to display or to print an integer value, the integer value must be converted to string) -->

<!-- Display the value -->
&lt;cleandisplay />
&lt;display line="0" column="0" message="The entered value is: " /&gt;
&lt;display line="2" column="0" message="$(sValue)" /&gt;
&lt;waitkey/&gt;
</code></pre>
<hr/>
<p><%= I18n.t("posxml.commands.inputmoney.paragraph_2") %></p>
