<% content_for :docs_description do %>
  <meta name="docs:description" content="<%= I18n.t('posxml.commands.inttostring.description') %>">
<% end %>

<h1><%= I18n.t("posxml.commands.title") %> <em>inttostring</em></h1>

<p><%= I18n.t("posxml.commands.inttostring.paragraph_1") %></p>

<h2><%= I18n.t("posxml.commands.parameters") %></h2>

<ol class="parameters">
  <li><%= I18n.t("posxml.commands.inttostring.parameters.parameter_1") %></li>
  <li><%= I18n.t("posxml.commands.inttostring.parameters.parameter_2") %></li>
</ol>

<h2><%= I18n.t("posxml.commands.example") %></h2>

<script src="https://gist.github.com/posxml/856caca6d077a52a0b43.js"></script>

<hr/>
<p><%= I18n.t("posxml.commands.inttostring.paragraph_2") %></p>
<p><%= I18n.t("posxml.commands.inttostring.paragraph_3") %></p>
