<% content_for :docs_description do %>
  <meta name="docs:description" content="<%= I18n.t('posxml.commands.readfile.description') %>">
<% end %>

<h1><%= I18n.t("posxml.commands.title") %> <em>readfile</em></h1>

<p><%= I18n.t("posxml.commands.readfile.paragraph_1") %></p>

<h2><%= I18n.t("posxml.commands.parameters") %></h2>

<ol class="parameters">
  <li><%= I18n.t("posxml.commands.readfile.parameters.parameter_1") %></li>
  <li><%= I18n.t("posxml.commands.readfile.parameters.parameter_2") %></li>
  <li><%= I18n.t("posxml.commands.readfile.parameters.parameter_3") %></li>
</ol>

<h2><%= I18n.t("posxml.commands.example") %></h2>

<script src="https://gist.github.com/posxml/63dc13ee19b0ce844787.js"></script>

<a id="walk_db"></a>
<h2><%= I18n.t("posxml.commands.example") %> Walk DB</h2>
<pre>
country=USA
state=California
city=Los Angeles
population=3.792.621
</pre>

<hr/>
<p><%= I18n.t("posxml.commands.readfile.paragraph_2") %></p>
<p><%= I18n.t("posxml.commands.readfile.paragraph_3") %></p>
