<% content_for :docs_description do %>
  <meta name="docs:description" content="<%= I18n.t('posxml.commands.string_elements.description') %>">
<% end %>

<h1><%= I18n.t("posxml.commands.title") %> <em>string.elements</em></h1>

<p><%= I18n.t("posxml.commands.string_elements.paragraph_1") %></p>

<h2><%= I18n.t("posxml.commands.parameters") %></h2>

<ol class="parameters">
  <li><%= I18n.t("posxml.commands.string_elements.parameters.parameter_1") %></li>
  <li><%= I18n.t("posxml.commands.string_elements.parameters.parameter_2") %></li>
  <li><%= I18n.t("posxml.commands.string_elements.parameters.parameter_3") %></li>
</ol>

<h2><%= I18n.t("posxml.commands.example") %></h2>

<script src="https://gist.github.com/posxml/4fd0a1cc2a378a0e15d6.js"></script>

<hr/>
<p><%= I18n.t("posxml.commands.string_elements.paragraph_2") %></p>
<p><%= I18n.t("posxml.commands.string_elements.paragraph_3") %></p>
