<% content_for :docs_description do %>
  <meta name="docs:description" content="<%= I18n.t('posxml.commands.string_insertat.description') %>">
<% end %>

<h1><%= I18n.t("posxml.commands.title") %> <em>string.insertat</em></h1>

<p><%= I18n.t("posxml.commands.string_insertat.paragraph_1") %></p>

<h2><%= I18n.t("posxml.commands.parameters") %></h2>

<ol class="parameters">
  <li><%= I18n.t("posxml.commands.string_insertat.parameters.parameter_1") %></li>
  <li><%= I18n.t("posxml.commands.string_insertat.parameters.parameter_2") %></li>
  <li><%= I18n.t("posxml.commands.string_insertat.parameters.parameter_3") %></li>
  <li><%= I18n.t("posxml.commands.string_insertat.parameters.parameter_4") %></li>
  <li><%= I18n.t("posxml.commands.string_insertat.parameters.parameter_5") %></li>
</ol>

<h2><%= I18n.t("posxml.commands.example") %></h2>

<script src="https://gist.github.com/posxml/01c920b9cb4743065151.js"></script>

<hr/>
<p><%= I18n.t("posxml.commands.string_insertat.paragraph_2") %></p>
