<% content_for :docs_description do %>
  <meta name="docs:description" content="<%= I18n.t('posxml.commands.system_backlight.description') %>">
<% end %>

<h1><%= I18n.t("posxml.commands.title") %> <em>system.backlight</em></h1>

<p class="more-info"><%= I18n.t("general.updated_at", :date => "18/09/2013") %></p>

<p><%= I18n.t("posxml.commands.system_backlight.paragraph_1") %></p>

<p><%= I18n.t("posxml.commands.system_backlight.paragraph_2") %></p>

<h2><%= I18n.t("posxml.commands.parameters") %></h2>

<ol class="parameters">
  <li><%= I18n.t("posxml.commands.system_backlight.parameters.parameter_1") %></li>
  <li><%= I18n.t("posxml.commands.system_backlight.parameters.parameter_2") %></li>
</ol>

<h2><%= I18n.t("posxml.commands.example") %></h2>

<pre><code data-language="html">&lt;integervariable value="0" variable="iReturn"/&gt;
&lt;stringvariable value="" variable="sReturn"/&gt;

&lt;system.backlight level="50" variablereturn="$(iReturn)"/&gt;

&lt;inttostring variableinteger="$(iReturn)" variablestring="$(sReturn)"/&gt;

&lt;display column="0" line="0" message="$(sInfo)"/&gt;

&lt;waitkey/&gt;
</code></pre>
<hr/>

<p><%= I18n.t("posxml.commands.system_backlight.paragraph_3") %></p>
<p><%= I18n.t("posxml.commands.system_backlight.paragraph_4") %></p>
