<% content_for :docs_description do %>
  <meta name="docs:description" content="<%= I18n.t('posxml.commands.system_restart.description') %>">
<% end %>

<h1><%= I18n.t("posxml.commands.title") %> <em>system.restart</em></h1>

<p class="more-info"><%= I18n.t("general.updated_at", :date => "02/05/2013") %></p>

<p><%= I18n.t("posxml.commands.system_restart.paragraph_1") %></p>

<h2><%= I18n.t("posxml.commands.example") %></h2>

<pre><code data-language="html">&lt;system.restart/&gt;</code></pre>

<hr/>
<p><%= I18n.t("posxml.commands.system_restart.paragraph_2") %></p>

<h2><%= I18n.t("posxml.commands.comments") %></h2>

<%= mootit %>
