<% content_for :docs_description do %>
  <meta name="docs:description" content="<%= I18n.t('development_environment.emulator.description') %>">
<% end %>

<h1><%= I18n.t("development_environment.emulator.title") %></h1>

<ol class="table-of-contents">
  <li><a href="#introduction"><%= I18n.t("development_environment.emulator.table_of_contents.introduction") %></a></li>
  <li><a href="#workflow"><%= I18n.t("development_environment.emulator.table_of_contents.workflow") %></a></li>
  <li><a href="#printing"><%= I18n.t("development_environment.emulator.table_of_contents.printing") %></a></li>
</ol>

<h2 id="introduction"><%= I18n.t("development_environment.emulator.table_of_contents.introduction") %></h2>

<p><%= I18n.t("development_environment.emulator.introduction.paragraph_1") %></p>
<p><%= I18n.t("development_environment.emulator.introduction.paragraph_2") %></p>
<p><%= I18n.t("development_environment.emulator.introduction.paragraph_3") %></p>

<h2 id="workflow"><%= I18n.t("development_environment.emulator.table_of_contents.workflow") %></h2>

<p><%= I18n.t("development_environment.emulator.workflow.paragraph_1") %></p>

<p><%= I18n.t("development_environment.emulator.workflow.paragraph_2") %></p>

<br/>
<iframe width="853" height="480" src="//www.youtube-nocookie.com/embed/mShWu6C4oTM?vq=hd720&rel=0" frameborder="0" allowfullscreen></iframe>

<h2 id="printing"><%= I18n.t("development_environment.emulator.table_of_contents.printing") %></h2>

<p><%= I18n.t("development_environment.emulator.printing.paragraph_1") %></p>
<p><%= I18n.t("development_environment.emulator.printing.paragraph_2") %></p>
<p><%= I18n.t("development_environment.emulator.printing.paragraph_3") %></p>

<br/>
<iframe width="853" height="480" src="//www.youtube-nocookie.com/embed/MNRCQgVdevI?vq=hd720&rel=0" frameborder="0" allowfullscreen></iframe>

<br/>
<br/>
<p><%= I18n.t("development_environment.emulator.printing.paragraph_4") %></p>

<ul class="pager">
  <li class="previous">
    <%= link_to("&larr; " + I18n.t("menu.development_environment.overview"), "development-environment/overview") %>
  </li>
</ul>
