<% content_for :docs_description do %>
  <meta name="docs:description" content="CloudWalk Web IDE">
<% end %>

<h1><%= I18n.t("development_environment.overview.title") %></h1>

<p class="more-info"><%= I18n.t("general.updated_at", :date => "28/01/2015") %></p>

<h4><%= I18n.t("general.index") %></h4>

<ol class="table-of-contents">
  <li><a href="#introduction"><%= I18n.t("development_environment.overview.table_of_contents.introduction") %></a></li>
  <li><a href="#real-time-colaboration"><%= I18n.t("development_environment.overview.table_of_contents.real_time_colaboration") %></a></li>
  <li><a href="#compilation-console"><%= I18n.t("development_environment.overview.table_of_contents.compilation_console") %></a></li>
</ol>

<h2 id="introduction"><%= I18n.t("development_environment.overview.table_of_contents.introduction") %></h2>

<p><%= I18n.t("development_environment.overview.introduction.paragraph_1") %></p>
<p><%= I18n.t("development_environment.overview.introduction.paragraph_2") %></p>

<img src="/img/cloudwalk-ide.jpg" alt="CloudWalk IDE" class="img-polaroid"/>

<h2 id="real-time-colaboration"><%= I18n.t("development_environment.overview.table_of_contents.real_time_colaboration") %></h2>

<p><%= I18n.t("development_environment.overview.real_time_colaboration.paragraph_1") %></p>

<h2 id="compilation-console"><%= I18n.t("development_environment.overview.table_of_contents.compilation_console") %></h2>

<p><%= I18n.t("development_environment.overview.compilation_console.paragraph_1") %></p>

<ul>
  <li><strong>base64:</strong> <%= I18n.t("development_environment.overview.compilation_console.properties.base64") %></li>
  <li><strong>size:</strong> <%= I18n.t("development_environment.overview.compilation_console.properties.size") %></li>
  <li><strong>integers:</strong> <%= I18n.t("development_environment.overview.compilation_console.properties.integers") %></li>
  <li><strong>strings:</strong> <%= I18n.t("development_environment.overview.compilation_console.properties.strings") %></li>
  <li><strong>maxvars:</strong> <%= I18n.t("development_environment.overview.compilation_console.properties.maxvars") %></li>
  <li><strong>functions:</strong> <%= I18n.t("development_environment.overview.compilation_console.properties.functions") %></li>
  <li><strong>maxfuncs:</strong> <%= I18n.t("development_environment.overview.compilation_console.properties.maxfuncs") %></li>
</ul>

<ul class="pager">
  <li class="next">
    <%= link_to(I18n.t("menu.development_environment.emulator") + " &rarr;", "development-environment/emulator") %>
  </li>
</ul>
