<% content_for :docs_description do %>
  <meta name="docs:description" content="short page description">
<% end %>

<h1><%= I18n.t("guides.logs_patterns.intro.title") %></h1>

<p class="more-info"><%= I18n.t("general.updated_at", :date => "16/09/2014") %></p>

<h4><%= I18n.t("general.index") %></h4>

<ol class="table-of-contents">
  <li><a href="#introduction"><%= I18n.t("guides.logs_patterns.intro.table_of_contents.introduction") %></a></li>
  <li><a href="#pattern"><%= I18n.t("guides.logs_patterns.intro.table_of_contents.pattern") %></a></li>
  <li><a href="#anomaly"><%= I18n.t("guides.logs_patterns.intro.table_of_contents.anomaly") %></a></li>
  <li><a href="#algorithm"><%= I18n.t("guides.logs_patterns.intro.table_of_contents.algorithm") %></a></li>
</ol>

<h2 id="introduction"><%= I18n.t("guides.logs_patterns.intro.table_of_contents.introduction") %></h2>

<p><%= I18n.t("guides.logs_patterns.intro.introduction.paragraph_1") %></p>

<p><%= I18n.t("guides.logs_patterns.intro.introduction.paragraph_2") %></p>

<h2 id="pattern"><%= I18n.t("guides.logs_patterns.intro.table_of_contents.pattern") %></h2>

<p><%= I18n.t("guides.logs_patterns.intro.pattern.paragraph_1") %></p>

<p><%= I18n.t("guides.logs_patterns.intro.pattern.paragraph_2") %></p>

<h2 id="anomaly"><%= I18n.t("guides.logs_patterns.intro.table_of_contents.anomaly") %></h2>

<p><%= I18n.t("guides.logs_patterns.intro.anomaly.paragraph_1") %></p>

<p class="alert alert-warning" role="alert"><%= I18n.t("guides.logs_patterns.intro.anomaly.paragraph_2") %></p>

<h2 id="algorithm"><%= I18n.t("guides.logs_patterns.intro.table_of_contents.algorithm") %></h2>

<p><%= I18n.t("guides.logs_patterns.intro.algorithm.paragraph_1") %></p>

<ul class="pager">
  <li class="next">
    <%= link_to("Tutorial Overview" + " &rarr;", "guides/logs-patterns/overview") %>
  </li>
</ul>
