<% content_for :docs_description do %>
  <meta name="docs:description" content="Tutorial for logs patterns and anomalies">
<% end %>

<h1><%= I18n.t("guides.logs_patterns.anomalies_report.title") %></h1>

<p class="more-info"><%= I18n.t("general.updated_at", :date => "16/09/2014") %></p>

<p><%= I18n.t("guides.logs_patterns.anomalies_report.paragraph_1") %></p>

<img src="/img/en/guides/logs_patterns/report.png" class="img-tutorial img-polaroid" alt="Anomalies tab" />

<p><%= I18n.t("guides.logs_patterns.anomalies_report.paragraph_2") %></p>

<p><%= I18n.t("guides.logs_patterns.anomalies_report.paragraph_3") %></p>

<p><%= I18n.t("guides.logs_patterns.anomalies_report.paragraph_4") %></p>

<img src="/img/en/guides/logs_patterns/report.gif" class="img-tutorial img-polaroid" alt="Anomalies tab" />

<p><%= I18n.t("guides.logs_patterns.anomalies_report.paragraph_5") %></p>

<ul class="pager">
  <li class="previous">
    <%= link_to("&larr; " + "Tutorial Overview", "guides/logs-patterns/overview") %>
  </li>
  <li class="next">
    <%= link_to("Patterns Chart" + " &rarr;", "guides/logs-patterns/patterns-chart") %>
  </li>
</ul>
